

<main class="banner">

    <link rel="stylesheet" href="/stylesheets/banner.css">

<div class="container-banner">

    <div class="promo-banner">
        <div class="promo-banner-img">
            <img class="img-promo-banner"
                src="/img/notebooksansung01.jpg"
                alt="" />
        </div>

        <div class="info-banner">
            <p>Dia da</p>
            <p>informática</p>
            <p>
                veja as principais<br />
                informações das últimas<br />
                décadas
            </p>
        </div>
    </div>
</div>
</main>
