<div class="container-banner">
    <div class="promo-banner">
        <img class="promo-banner-img"
            src="/img/smart-technology-devices-gradient-background-responsive-web-design-flat-vector-illustration_582267-342.jpg"
            alt="" />
        <div class="info-banner">
            <p>Dia da</p>
            <p>informática</p>
            <p>
                veja as principais<br />
                informações das últimas<br />
                décadas
            </p>
        </div>
    </div>
</div>
<div>
    <ul class="banner-navbar banner-navbar-icons">
        <l1><img src="/img/computer.svg" alt="" /></l1>
        <l1><img src="/img/desktop.svg" alt="" /></l1>
        <l1><img src="/img/smartphone.svg" alt="" /></l1>
        <l1><img src="/img/accesories.svg" alt="" /></l1>
    </ul>
    <ul class="banner-navbar banner-navbar-links">
        <li><a href="#">Notebook</a></li>
        <li><a href="#">Desktop</a></li>
        <li><a href="#">Celulares</a></li>
        <li><a href="#">Acessórios</a></li>
    </ul>
</div>