<div class="container-banner">

    <div class="promo-banner">
        <div class="promo-banner-img">
            <img class="img-promo-banner"
                src="/img/smart-technology-devices-gradient-background-responsive-web-design-flat-vector-illustration_582267-342.jpg"
                alt="" />
        </div>

        <div class="info-banner">
            <p>Dia da</p>
            <p>informática</p>
            <p>
                veja as principais<br />
                informações das últimas<br />
                décadas
            </p>
        </div>
    </div>
</div>
<div>
    <ul class="banner-navbar banner-navbar-icons">
        <l1><img src="/img/computer.svg" alt="" /></l1>
        <l1><img src="/img/desktop.svg" alt="" /></l1>
        <l1><img src="/img/smartphone.svg" alt="" /></l1>
        <l1><img src="/img/accesories.svg" alt="" /></l1>
    </ul>
    <ul class="banner-navbar banner-navbar-links">
        <li><a href="/products/category/?category=Notebook">Notebook</a></li>
        <li><a href="/products/category/?category=Desktop">Desktop</a></li>
        <li><a href="/products/category/?category=Celulares">Celulares</a></li>
        <li><a href="/products/category/?category=Acessorios">Acessórios</a></li>
    </ul>
</div>