<link rel="stylesheet" href="../public/stylesheets/cart.css">
<title>Latech</title>
</head>


 
<main>
<h2>
Carrinho de Compras
</h2>
<section>
<div>
<p>Item</p>
<img src="">
<p>Preço $</p>
<p></p>
</div> 
</div> 
<div>
<p>Qtd</p>
<select name="Qtd" id="qtd"></select>
</div>
<div>Subtotal</div> 
<button name="keepBuying" type="submit">Continue Comprando</button>
<button name="cleanCart" type="reset">Limpar o carrinho</button>
</section>
</div>
<section>
<h4>
Resumo
</h4>
<button class="purchaseOrder">Finalizar compra</button>
</section>
</main>
