<footer>
  <link rel="stylesheet" href="/stylesheets/footer.css">
  <div class="about-us">
    <ul class="about-us">
      <li><a href="/aboutUs">quem somos</a></li>
      <li><a href="/police">politicas de privacidade</a></li>
    </ul>
  </div>
  <div class="account">
    <ul class="account">
      <li><a href="/users/account">minha conta</a></li>
      <li><a href="/users/account">meus produtos</a></li>
      <li><a href="/users/account">status do pedido</a></li>
    </ul>
  </div>
  <div class="images">
    <div class="logo-footer">
      <a href="/"><img class="logo-footer" src="/img/logo_latech_final.png" alt="logo-latech" /></a>
    </div>
    <div class="social-media-icons">
      <ul class="icons">
        <li>
          <a href="https://facebook.com"><img src="/img/icons8-facebook.svg" /></a>
        </li>
        <li>
          <a href="https://instagram.com"><img src="/img/icons8-instagram.svg" /></a>
        </li>
        <li>
          <a href="https://twitter.com"><img src="/img/icons8-twitter.svg" /></a>
        </li>
        <li>
          <a href="https://youtube.com"><img src="/img/icons8-youtube.svg" /></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
</body>

</html>