<footer>
  <div class="about-us">
    <ul class="about-us">
      <li><a href="#">quem somos</a></li>
      <li><a href="#">notícia</a></li>
      <li><a href="#">politicas de privacidade</a></li>
    </ul>
  </div>
  <div class="account">
    <ul class="account">
      <li><a href="#">minha conta</a></li>
      <li><a href="#">meus produtos</a></li>
      <li><a href="#">status do pedido</a></li>
    </ul>
  </div>
  <div class="images">
    <div class="logo-footer">
      <img
        class="logo-footer"
        src="../public/img/logo_latech_final.png"
        alt="logo-latech"
      />
    </div>
    <div class="social-media-icons">
      <ul class="icons">
        <li>
          <a href="#"><img src="../public/img/icons8-facebook (1).svg" /></a>
        </li>
        <li>
          <a href="#"><img src="../public/img/icons8-instagram (1).svg" /></a>
        </li>
        <li>
          <a href="#"><img src="../public/img/icons8-twitter.svg" /></a>
        </li>
        <li>
          <a href="#"><img src="../public/img/icons8-youtube.svg" /></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
