<header>
<link rel="stylesheet" href="/stylesheets/header.css">

  <div class="container-header">
    <a href="/">
      <img class="logo" src="/img/logo_latech_final.png" alt="logo-latech" />
    </a>
    <div class="search-form">
      <!-- Alterada a posição da div para funcionamento das medias queries-->
      <form action="/search" method="get" class="search-bar">
        <input class="search-bar" type="text" name="q" placeholder="O que você procura...?" />
        <button class="btn_sb" id="sb" type="submit">
          <img class="btn_search" src="/img/icons8-pesquisar.svg" />
        </button>
      </form>
    </div>
    <div class="menu-hamburguer">
      <input class="checkbox-menu" type="checkbox" id="checkbox-menu" />
      <label class="hamburguer" for="checkbox-menu">
        <span class="hamburguer-line"></span>
        <span></span>
        <span></span>
      </label>
      <nav class="nav">
        <ul class="menu" id="nav">
          <li><a href="/products">Produtos</a></li>
          <li><a href="/products/sale">Ofertas</a></li>
          <li><a href="/aboutUs">Sobre nós</a></li>
          <li>
            <a href="/"><img src="/img/icons8-adicionar-usuario-masculino-50.svg" /></a>
            <ul class="over">
              <% if (locals.isLogged) {%>
              <li class="over"><a href="/users/logout">Sair</a></li>
              <li class="over"><a href="/users/account">Ver Conta</a></li>
              <% } else { %>
              <li><a href="/users/login">Entrar</a></li>
              <li><a href="/users/">Cadastrar</a></li>
              <% } %>
            </ul>
          </li>
          <li>
            <a href="/orders/cart"
              ><img src="/img/icons8-carrinho-de-compras-carregado-50.svg" />
              <%= qty %>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <script src="/dropDownUserMenu.js"></script>
</header>