<header>
  <div class="container">
    <img class="logo" src="/img/logo_latech_final.png" alt="logo-latech" />
    <div class="search-form">
      <!-- Alterada a posição da div para funcionamento das medias queries-->
      <form action="/search" method="get" class="search-bar">
        <input class="search-bar" type="text" name="q" placeholder="O que você procura...?" />
        <button class="btn_sb" type="submit">          
            <img class="btn_search" src="/img/icons8-pesquisar.svg" />
          </button>
      </form>
    </div>
    <div class="menu-hamburguer">
      <input class="checkbox-menu" type="checkbox" id="checkbox-menu" />
      <label class="hamburguer" for="checkbox-menu">
        <span class="hamburguer-line"></span>
        <span></span>
        <span></span>
      </label>
      <nav class="nav">
        <ul class="menu" id="nav">
          <li><a href="/products">Produtos</a></li>
          <li><a href="/products/sale">Ofertas</a></li>
          <li><a href="/aboutUs">Sobre nós</a></li>
          <li>
            <a href="/users"><img src="/img/icons8-adicionar-usuario-masculino-50.svg" /></a>
            <ul>
              <li><a href="#">Cadastrar</a></li>
              <li><a href="#">Entrar</a></li>
              <li><a href="#">Minha Conta</a></li>
              <li><a href="#">Sair</a></li>
            </ul>
          </li>
          <li>
            <a href="/orders/cart"><img src="/img/icons8-carrinho-de-compras-carregado-50.svg" />
              <%= qty %>
            </a>

        </ul>
      </nav>
    </div>
  </div>
  <hr>

</header>