<div class="category-container">
    <link rel="stylesheet" href="/stylesheets/indexCategory.css">
    <div class="category-wrapper">
        <div class="category-box">
            <a href="/products/category/?category=Notebook">
                <img src="/img/indexNotebook.png" alt="Notebook category" />
            </a>
        </div>
        <div class="category-box">
            <a href="/products/category/?category=Celulares">
                <img src="/img/indexCelular.png" alt="Cell category" />
            </a>
        </div>
        <div class="category-box">
            <a href="/products/category/?category=Desktop">
                <img src="/img/indexDesktop.png" alt="Descktop category" />
            </a>
        </div>
        <div class="category-box">
            <a href="/products/category/?category=Acessorios">
                <img src="/img/indexAcessorio.png" alt="Acessory category" />
            </a>
        </div>
    </div>
</div>