<main>
    <div class="banner-offer">
      <a href="#"> As melhores ofertas estão aqui. Até 30% de desconto </a>
      <img src="../public/img/pexels-pixabay-40739.jpg" alt="" />
    </div>
    <div class="layout-products-images">
      <ul>
        <li><a href="#"><img src="../public/img/tablet.jpg" alt="" /></a></li>
        <li><a href="#"><img src="../public/img/celular.png" alt="" /></a></li>
        <li><a href="#"><img src="../public/img/watch.png" alt="" /></a></li>
        <li><a href="#"><img src="../public/img/monitor.png" alt="" /></a></li>
      </ul>
    </div>
  </main>