<div class="index-offer-container">
    <link rel="stylesheet" href="/stylesheets/indexOfferProduct.css">
    <div class="index-offer-wrapper">
        <div class="index-offer-box">
            <a href="/products/detail/29">
                <img src="/img/phonePhilipsOffer.png" alt="Phone offer" />
            </a>
        </div>
        <div class="index-offer-box">
            <a href="/products/detail/21">
                <img src="/img/cellIphoneOffer.png" alt="Cell offer 01" />
            </a>
        </div>
        <div class="index-offer-box">
            <a href="/products/detail/9">
                <img src="/img/cpuDellOffer.png" alt="Descktop offer" />
            </a>
        </div>
        <div class="index-offer-box">
            <a href="/products/detail/15">
                <img src="/img/cellMotoOffer.png" alt="Cell offer 02" />
            </a>
        </div>
    </div>
</div>