
<main class="navbar-categories"></main>

<link rel="stylesheet" href="/stylesheets/navbarCategories.css">

<div>
    <ul class="navbar-categories navbar-categories-icons">
        <l1><img src="/img/computer.svg" alt="" /></l1>
        <l1><img src="/img/desktop.svg" alt="" /></l1>
        <l1><img src="/img/smartphone.svg" alt="" /></l1>
        <l1><img src="/img/accesories.svg" alt="" /></l1>
    </ul>
    <ul class="navbar-categories navbar-categories-links">
        <li><a href="/products/category/?category=Notebook">Notebook</a></li>
        <li><a href="/products/category/?category=Desktop">Desktop</a></li>
        <li><a href="/products/category/?category=Celulares">Celulares</a></li>
        <li><a href="/products/category/?category=Acessorios">Acessórios</a></li>
    </ul>
</div>