<div class="slide-geral">
    <div class="wrapper" data-slide="wrapper">
        <div class="slide-wrapper">
            <button class="slide-nav-button slide-nav-previous fa-solid fa-caret-left" data-slide="nav-previous-button"></button>
            <button class="slide-nav-button slide-nav-next fa-solid fa-caret-right" data-slide="nav-next-button"></button>
            <div class="slide-list" data-slide="list"> 
                <div class="slide-item" data-slide="item" data-index="0">
                    <div class="slide-content">
                        <img class="slide-image" src="/img/slideHoliday.png" alt="christmas sale" />
                        <div class="slide-description">
                            <h3>Promoção de Natal.</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </div>
                    </div>
                </div>
                <div class="slide-item" data-slide="item" data-index="1">
                    <div class="slide-content">
                        <img class="slide-image" src="/img/slideNews.png" alt="product news" />
                        <div class="slide-description">
                            <h3>Novidades.</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </div>
                    </div>
                </div>
                <div class="slide-item" data-slide="item" data-index="2">
                    <div class="slide-content">
                        <img class="slide-image" src="/img/slideSale.png" alt="product sale" />
                        <div class="slide-description">
                            <h3>Promoção tabletes e celulares.</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide-controls" data-slide="controls-wrapper">
                <button class="slide-control-button fa-solid fa-circle active" data-slide="control-button"></button>
                <button class="slide-control-button fa-solid fa-circle active" data-slide="control-button"></button>
                <button class="slide-control-button fa-solid fa-circle active" data-slide="control-button"></button>
            </div>
        </div>
    </div>
    <script src="/slide.js"></script>
</div>
