<%- include('partials/head') %>
<!-- Include Header -->
<%- include('partials/header', {title: 'Início' }) %>
  <!-- Include Banner -->
  <%- include('partials/banner') %>
  <body>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
        </style>
  <link rel="stylesheet" href="../stylesheets/aboutUs.css">
  <h1 class="aboutUs-tittle">Latech</h1>
  <article class="aboutUs-article">
      <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, perspiciatis.
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum, at minus! Numquam libero dolore, nostrum placeat reiciendis sit quae odio totam, corporis tempore ut. Fuga facilis nulla repellat qui doloribus?</p>
      <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, perspiciatis.
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum, at minus! Numquam libero dolore, nostrum placeat reiciendis sit quae odio totam, corporis tempore ut. Fuga facilis nulla repellat qui doloribus?</p>
      <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, perspiciatis.
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum, at minus! Numquam libero dolore, nostrum placeat reiciendis sit quae odio totam, corporis tempore ut. Fuga facilis nulla repellat qui doloribus?</p>
      <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, perspiciatis.
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum, at minus! Numquam libero dolore, nostrum placeat reiciendis sit quae odio totam, corporis tempore ut. Fuga facilis nulla repellat qui doloribus?</p>
      <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, perspiciatis.
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum, at minus! Numquam libero dolore, nostrum placeat reiciendis sit quae odio totam, corporis tempore ut. Fuga facilis nulla repellat qui doloribus?</p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, perspiciatis.
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum, at minus! Numquam libero dolore, nostrum placeat reiciendis sit quae odio totam, corporis tempore ut. Fuga facilis nulla repellat qui doloribus?
  </article>
  <%- include('partials/footer') %>
