<%- include('partials/head') %>
    <!-- Include Header -->
    <%- include('partials/header', {title: 'Início' }) %>
        <!-- Include Banner -->
        <%- include('partials/banner') %>

            <link rel="stylesheet" href="../stylesheets/grid.css">
            <link rel="stylesheet" href="../stylesheets/aboutUs.css">
            <h1 class="aboutUs-tittle"><img src="../img/logo_latech_final.png" alt=""></h1>
            <section class=" aboutUs-into"">
                <h2>Sobre</h2>
                <P>Conheca mais sobre a Latina América Tech.</P>
            </section>

                <div class=" aboutUs-into">
                <h2>História, Missão e Visão</h2>
                <p>No mundo atual, a contínua expansão de nossa atividade cumpre um papel essencial na formulação da
                    gestão inovadora da qual fazemos parte da qual fazemos parte.</p>
                <p>No mundo atual, a contínua expansão de nossa atividade cumpre um papel essencial na formulação da
                    gestão inovadora da qual fazemos parte da qual fazemos parte.</p>
                </div>
                <div class="aboutUs-into">
                    <h2>Inovação</h2>
                    <p>Inovar é criar algo novo, é introduzir novidades, renovar, recriar. A inovação é sempre tida como sinônimo de mudanças e/ou melhorias de algo já existente.</p>
                    <h2>Tecnologia</h2>
                    <p>Tecnologia é um produto da ciência e da engenharia que envolve um conjunto de instrumentos, métodos e técnicas que visam a resolução de problemas. É uma aplicação prática do conhecimento científico em diversas áreas de pesquisa.</p>                    <h2>Qualidade</h2>
                    <p>O conceito de qualidade pode ser definido como a totalidade de características de um produto ou serviço que possuem a capacidade de satisfazer uma certa necessidade de um determinado cliente.</p>
                    <h2>Valores</h2>
                    <ul>
                        <li>- Qualidade no processo com</li>
                        <li>- Foco no cliente sem perder a</li>
                        <li>- Diversão, presando a</li>
                        <li>- inovação</li>
                    </ul>
                </div>
            

            <div class="aboutUs-into quebra">
                <blockquote>
                    <p>
                        "O verdadeiro segredo da felicidade está no interresse por todos os detalhes da vida cotidiana."
                    </p>
                    <cite>WILLIAM MORRIS</cite>
                </blockquote>
            </div>
            <%- include('partials/footer') %>