<%- include('partials/head') %>
  <!-- Include Header -->
  <%- include('partials/headerAdmin', {title: 'Início' }) %>
    <!-- Include navbarCategories -->
    <%- include('partials/navbarCategories') %>
      <!-- Include Slide-->

      <main class="index-main">

        <link rel="stylesheet" href="/stylesheets/adminMain.css">
        <h2 class="index-title">Adminnistrador</h2>
        <div class="admin-content">

          <h3>Regras do painel de administrador</h3>
          <article>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit odio ea iste hic, praesentium corrupti
              quasi voluptatem sed repellendus eveniet exercitationem tenetur consectetur illum voluptates quae ab esse
              velit animi?
            </p>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit odio ea iste hic, praesentium corrupti
              quasi voluptatem sed repellendus eveniet exercitationem tenetur consectetur illum voluptates quae ab esse
              velit animi?
            </p>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit odio ea iste hic, praesentium corrupti
              quasi voluptatem sed repellendus eveniet exercitationem tenetur consectetur illum voluptates quae ab esse
              velit animi?
            </p>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit odio ea iste hic, praesentium corrupti
              quasi voluptatem sed repellendus eveniet exercitationem tenetur consectetur illum voluptates quae ab esse
              velit animi?
            </p>
          </article>
        </div>
        <div class="wrapper-admin-form-btns">
          <form action="/admin/login">
            <button class="admin-login">Entrar</button>
          </form>
          <form action="/admin/signUp">
            <button class="admin-signup">Cadastrar</button>
          </form>
        </div>
        </div>
      </main>
      <!-- Include Footer -->
      <%- include('partials/footer') %>