<%- include('partials/head') %>

<!-- Include Header -->
<%- include('partials/headerAdmin') %>


<main class="edit-container">
  <link rel="stylesheet" href="/stylesheets/adminEditUser.css" />
  <br />
  <h2 class="edit_title">Editar Conta de Usuário</h2>
  <br />
  <div class="admin-edit-container">
    <div class="user-info-container">

      <form
        class="user-info-form"
        method="post"
        action="/admin/updateUserData/"
      >
        <div class="user-avatar">
          <img class="img-avatar" src=" " />
        </div>

        <div class="user-form">
          <div class="user-form-class">
            <label class="form-label" for="nome">Nome do usuário: </label>
            <input
              class="input-label"
              type="text"
              id="nome"
              name="name"
              value=""
            />
          </div>

          <div class="user-form">
            <div class="user-form-class">
              <label class="form-label" for="sobrenome"
                >Sobrenome do usuário:
              </label>
              <input
                class="input-label"
                type="text"
                id="lastName"
                name="lastName"
                value=""
              />
            </div>
            </div>

            <div class="user-form">
                <div class="user-form-class">
                  <label class="form-label" for="nome">Email do usuário: </label>
                  <input
                    class="input-label"
                    type="text"
                    id="email"
                    name="email"
                    value=""
                  />
                </div>
          </div>

          <div class="user-form">
            <div class="user-form-class">
              <label class="form-label" for="nome">Cpf do usuário: </label>
              <input
                class="input-label"
                type="text"
                id="cpf"
                name="personal_id"
                value=""
              />
            </div>
            </div>
          <div class="user-form-class">
            <label class="form-label" for="telefone">Telefone:</label>
            <input
              class="input-label"
              type="text"
              id="telefone"
              name="phone"
              value=""
            />
          </div>
          <button class="btn-save" type="submit">Salvar</button>
        </div>
      </form>
    </div>
  </div>
</main>
<!-- Include Footer -->
<%- include('partials/footer') %>
