<%- include('partials/head') %>

  <!-- Include Header -->
  <%- include('partials/headerAdmin') %>

    <main>
      <link rel="stylesheet" href="/stylesheets/adminPanel.css" />

      <h3 class="edit_title">Painel de Administrador</h3>

      <div class="edit-container">

        <p class="welcome-admin">Bem vindo,</p>

        <form action="/admin/adminProductCreate">
          <button class="btn-admin-edit-product">Criar Produtos</button>
        </form>

        <form action="/admin/adminProduct">
          <button class="btn-admin-edit-product">Editar Produtos</button>
        </form>

        <form action="/admin/adminUsersList">
          <button class="btn-admin-edit-user" type="submit">Editar Clientes Usuários</button>
        </form>
      </div>
    </main>
    <!-- Include Footer -->
    <%- include('partials/footer') %>