
<%- include('partials/head') %>
<!-- Include Header -->
<%- include('partials/headerAdmin') %>
<!-- Include Banner -->
<main>
  <link rel="stylesheet" href="/stylesheets/adminLogin.css" />
<br>
<h2 class="admin_index_title">Entrar</h2>
<br>
  <div class="admin_login">
   
    <div class="input_admin_container">
      <form method="post" action="/admin/login">
        <div class="form_admin_wrapper">
        <label class="label" for="emailAdmin">Email</label>
        <input
          class="admin_email"
          type="text"
          name="emailAdmin"
          id="input_admin_email"
          value=""
          placeholder="digite seu email funcional"
        />
        <label class="label" for="passwordAdmin">Senha</label>
        <input
          class="admin_password"
          type="password"
          name="passwordAdmin"
          id="input_admin_password"
          placeholder="digite sua senha"
        />
      </div>
      <input class="checkbox"  type="checkbox" name="remember_admin" />
        <label class="label" for="remeber_admin">Lembrar meu usuário</label>
        <br>
        <div class="wrapper_admin_btnlogin">

          <button class="btn_admin_login" type="submit" href="/admin/panel">Login</button>
          <br>
        </div>
            </form>
    </div>
  </div>
</main>
<%- include('partials/footer') %>
