<link rel="stylesheet" href="../public/stylesheets/button.css" />

<div class="cart-btn-label">
  <label>quantidade:</label>
  <div class="cart-btn">
    <button class="cart-btn-minus">
      <svg
        width="16"
        height="2"
        viewBox="0 0 16 2"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M0 1A.75.75 0 01.75.25h14.5a.75.75 0 010 1.5H.75A.75.75 0 010 1z"
          fill="#333"
        ></path>
      </svg></button
    ><input
      type="number"
      name="selector-quantity-input"
      autocomplete="off"
      class="cart-btn-input"
      value="1"
    />
    <div class="cart-btn-unidade">1</div>
    <button class="cart-btn-plus">
      <svg
        viewBox="0 0 16 16"
        aria-labelledby="plusSymbolRoundedIcon plusSymbolRoundedDesc"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M8 0a.75.75 0 00-.75.75v6.5H.75a.75.75 0 000 1.5h6.5v6.5a.75.75 0 001.5 0v-6.5h6.5a.75.75 0 000-1.5h-6.5V.75A.75.75 0 008 0z"
          fill="inherit"
        ></path>
      </svg>
    </button>
  </div>
</div>
