<%- include('partials/head') %>
    <!-- Include Header -->
    <%- include('partials/header') %>
    
    <%- include('partials/navbarCategories') %>


    <!-- <main class="error-container">
        <link rel="stylesheet" href="/stylesheets/error.css">
    
    <h3 class="error_title">OOOPPSSS!  A página que você está tentando acessar não existe ou não está disponível.
        Faça loggin e tente novamente.</h3>
        <div class="error-img">
            <img src="/img/imagem-erro.jpg" alt="">
        </div>
</main> -->
    
    <%- include('partials/footer') %>


