<%- include('partials/head') %>
    <!-- Include Header -->

    <h1>
        <%= message %>
    </h1>
    <h2>
        <%= error.mucholoco %>
    </h2>
    <pre><%= error.stack %></pre>
    </body>


    </html>