<%- include('partials/head') %>
    <!-- Include Header -->

    <h1>
        <%= message %>
    </h1>
    <h2>
        <%= error.mucholoco %>
    </h2>
    <pre><%= error.stack %></pre>
    </body>


<<<<<<< HEAD
</html>
=======
    </html>
>>>>>>> e0a527d1511ad7501be155d8a9411c5e42bd2289
