<%- include('partials/head') %>
    <!-- Include Header -->
    <%- include('partials/header') %>

    <main class="error-container">
        <link rel="stylesheet" href="/stylesheets/error.css">
    
    <h3 class="error_title">OOOPPSSS!  A página que você está tentando acessar não existe ou não está disponível.
        Faça loggin e tente novamente.</h3>
    <img src="/img/imagem-erro.jpg" alt="">
</main>
    
    <%- include('partials/footer') %>


