<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/stylesheets/home.css" />
    <title>Home</title>
  </head>

  <body>
    <main>
    <div class="banner-offer">
      <a href="#"> As melhores ofertas estão aqui. Até 30% de desconto </a>
      <img src="../public/img/pexels-pixabay-40739.jpg" alt="" />
    </div>
    <div class="layout-products-images">
        <ul >
      <li><img src="../public/img/tablet.jpg" alt="" /></li>
      <li><img src="../public/img/celular.png" alt="" /></li>
      <li><img src="../public/img/watch.png" alt="" /></li>
      <li><img src="../public/img/monitor.png" alt="" /></li>
    </ul>
    </div>
</main>
  </body>
</html>
