<!-- Include Header -->
<%- include('partials/header', {title: 'Início' }) %>
  <main>
    <div class="banner-offer">
      <a href="#"> As melhores ofertas estão aqui. Até 30% de desconto </a>
      <img src="/img/pexels-pixabay-40739.jpg" alt="" />
    </div>
    <div class="layout-products-images">
      <ul>
        <li><a href="#"><img src="/img/tablet.jpg" alt="" /></a></li>
        <li><a href="#"><img src="/img/celular.png" alt="" /></a></li>
        <li><a href="#"><img src="/img/watch.png" alt="" /></a></li>
        <li><a href="#"><img src="/img/monitor.png" alt="" /></a></li>
      </ul>
    </div>
  </main>
  <!-- Include Footer -->
  <%- include('partials/footer') %>
    </body>

    </html>