<main>
    <link rel="stylesheet" href="/stylesheets/cart.css">
  <h2>
  Carrinho de Compras
  </h2>
  <section>
  <div>
  <p>Item</p>
  <img src="">
  <p>Preço $</p>
  <p></p>
  </div> 
  </div> 
  <div>
  <p>Qtd</p>
  <select name="Qtd" id="qtd"></select>
  </div>
  <div>Subtotal</div> 
  <button name="keepBuying" type="submit">Continue Comprando</button>
  <button name="cleanCart" type="reset">Limpar o carrinho</button>
  </section>
  </div>
  <section>
  <h4>
  Resumo
  </h4>
  <button class="purchaseOrder">Finalizar compra</button>
  </section>
  </main>
  /* .cart-btn-unidade {
    font-size: 16px;
    line-height: 16px;
    width: 100%;
    text-align: center;
  } */
  
  /* .cart-btn-label {
    margin-left: 8px;
  } */
  
  /* .cart-btn-label label {
    font-size: 16px;
    line-height: 12px;
    color: var(--dark-gray);
    font-weight: bold;
    margin-bottom: 4px;
  } */
  
  /* .cart-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 88px;
    background: var(--ultra-ligth-blue);
    margin-bottom: 10px;
  } */
  
  /* .cart-btn-minus {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-image: initial;
    outline: none;
    cursor: pointer;
    width: 25px;
    height: 25px;
    border-radius: 8px;
    /* background: var(--ultra-ligth-blue); */
    /* border-right: 1.4px solid var(--ligth-blue);
    pointer-events: none;
    box-shadow: var(--dark-blue) 0px 1px 8px;
  } */ 

  <main>
    <link rel="stylesheet" href="/stylesheets/cart.css">
  <h2>
  Carrinho de Compras
  </h2>
  <section>
  <div>
  <p>Item</p>
  <img src="">
  <p>Preço $</p>
  <p></p>
  </div> 
   
  <div>
  <p>Qtd</p>
  <select name="Qtd" id="qtd"></select>
  </div>
  <div>Subtotal</div> 
  <button name="keepBuying" type="submit">Continue Comprando</button>
  <button name="cleanCart" type="reset">Limpar o carrinho</button>
  </section>
  
  <section>
  <h4>
  Resumo
  </h4>
  <button class="purchaseOrder">Finalizar compra</button>
  </section>
  </main>