<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css"
    />
    <link rel="stylesheet" href="../public/stylesheets/index.css" />
    <link rel="stylesheet" href="../public/stylesheets/locawebTest.css">
    <title>Latech</title>
  </head>

  <body>
    <header>
      <div class="container">
        <img class="logo" src="../public/img/logo_latech_final.png" alt="logo-latech" />
        <div class="search-form">
            <!-- Alterada a posição da div para funcionamento das medias queries-->
            <form action="#" method="get" class="search-bar">
                <input class="search-bar" type="text" name="q" placeholder="O que você procura?" />
                <button type="submit">
                    <img class="search" src="../public/img/icons8-pesquisar.svg" />
                </button>
            </form>
        </div>
        <div class="menu-hamburguer">
          <input class="checkbox-menu" type="checkbox" id="checkbox-menu" />
          <label class="hamburguer"  for="checkbox-menu">
            <span class="hamburguer-line"></span>
            <span></span>
            <span></span>
          </label>
          <nav class="nav">
            <ul class="menu">
              <li><a href="#">Produtos</a></li>
              <li><a href="#">Ofertas</a></li>
              <li><a href="#">Sobre nós</a></li>
              <li>
                <a href="#"
                  ><img
                    src="../public/img/icons8-adicionar-usuário-masculino-50.svg"
                /></a>
              </li>
              <li>
                <a href="#"
                  ><img
                    src="../public/img/icons8-carrinho-de-compras-carregado-50.svg"
                /></a>
              </li>
            </ul>
          </nav>
        </div>
       
        </div>
      </div>
      
      <hr />
    </header>
    <main>
<div class="ls-cart">
    <input type="checkbox" class="ls-checkbox-cart">
    <header class="ls-cart-header">
      <span class="ls-ico-cart ls-float-left"></span>
      <small>MEU CARRINHO</small>
      <strong>4 produto(s)</strong>
    </header>
    <div class="ls-cart-content">
      <ul class="ls-no-list-style">
        <li>
          <h3 class="ls-title-product">
            <strong>01</strong> nome do produto
          </h3>
          <p> (descrição) </p>
          <p> (Preço) </p>
          <p> (Qtd) </p>
          <a href="#">Excluir</a>
        </li>
        <li>
          <h3 class="ls-title-product">
            <strong>02</strong> Monitor LED 27"
          </h3>
          <p> (descrição) </p>
          <p> (Preço) </p>
          <p> (Qtd) </p>
          <a href="#">Excluir</a>
        </li>
        <li>
          <h3 class="ls-title-product">
            <strong>06</strong> Honda FIT 2010 4p Flex 1.4 16v
          </h3>
          <p> (descrição) </p>
          <p> (Preço) </p>
          <p> (Qtd) </p>
          <a href="#">Excluir</a>
        </li>
        <li>
          <h3 class="ls-title-product">
            <strong>01</strong> Lorem Ipsum is simply dummy text
          </h3>
          <p> (descrição) </p>
          <p> (Preço) </p>
          <p> (Qtd) </p>
          <a href="#">Excluir</a>
        </li>
      </ul>
      <footer class="ls-cart-footer ls-txt-center">
        <a href="#" class="ls-btn-primary">Finalizar Compra</a>
      </footer>
    </div>
  </div>
</main>
<footer>
    <div class="about-us">
      <ul class="about-us">
        <li><a href="#">quem somos</a></li>
        <li><a href="#">notícia</a></li>
        <li><a href="#">politicas de privacidade</a></li>
      </ul>
    </div>
    <div class="account">
      <ul class="account">
        <li><a href="#">minha conta</a></li>
        <li><a href="#">meus produtos</a></li>
        <li><a href="#">status do pedido</a></li>
      </ul>
    </div>
    <div class="images">
<div class="logo-footer">
    <img
      class="logo-footer"
      src="../public/img/logo_latech_final.png"
      alt="logo-latech"
    />
  </div>
    <div class="social-media-icons">
      <ul class="icons">
        <li>
          <a href="#"><img src="../public/img/icons8-facebook (1).svg" /></a>
        </li>
        <li>
          <a href="#"><img src="../public/img/icons8-instagram (1).svg" /></a>
        </li>
        <li>
          <a href="#"><img src="../public/img/icons8-twitter.svg" /></a>
        </li>
        <li>
          <a href="#"><img src="../public/img/icons8-youtube.svg" /></a>
        </li>
      </ul>
    </div>
  </div>
  </footer>
</body>
</html>