  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public//stylesheets/locawebTest.css">
    <title>Document</title>
  </head>
  <body>
    
  </body>
  </html>

  
  <main>
    <div class="ls-cart">
      <header class="ls-cart-header">
        <input type="checkbox" class="ls-checkbox-cart" />
        <span class="ls-ico-cart ls-float-left"></span>
        <small>MEU CARRINHO</small>
        <strong>4 produto(s)</strong>
      </header>
      <div class="ls-cart-content">
        <ul class="ls-no-list-style">
          <li>
            <h4 class="ls-title-product">
              <strong>01</strong> nome do produto
            </h4>
            <img src="" alt="" />
            <p>(descrição)</p>
            <p>(Preço)</p>
            <p>(Qtd)</p>
            <div class="cart-btn-label">
              <label>quantidade:</label>
              <div class="cart-btn">
                <button class="cart-btn-minus">
                  <svg width="16" height="2" viewBox="0 0 16 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M0 1A.75.75 0 01.75.25h14.5a.75.75 0 010 1.5H.75A.75.75 0 010 1z" fill="#333"></path>
                  </svg></button><input type="number" name="selector-quantity-input" autocomplete="off"
                  class="cart-btn-input" value="1" />
                <div class="cart-btn-unidade">1 unidade</div>
                <button class="cart-btn-plus">
                  <svg viewBox="0 0 16 16" aria-labelledby="plusSymbolRoundedIcon plusSymbolRoundedDesc">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M8 0a.75.75 0 00-.75.75v6.5H.75a.75.75 0 000 1.5h6.5v6.5a.75.75 0 001.5 0v-6.5h6.5a.75.75 0 000-1.5h-6.5V.75A.75.75 0 008 0z"
                      fill="inherit"></path>
                  </svg>
                </button>
              </div>
            </div>
          </li>
          <li>
            <h4 class="ls-title-product">
              <strong>02</strong> Monitor LED 27"
            </h4>
            <img src="" alt="" />
            <p>(descrição)</p>
            <p>(Preço)</p>
            <p>(Qtd)</p>
            <div class="cart-btn-label">
              <label>quantidade:</label>
              <div class="cart-btn">
                <button class="cart-btn-minus">
                  <svg width="16" height="2" viewBox="0 0 16 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M0 1A.75.75 0 01.75.25h14.5a.75.75 0 010 1.5H.75A.75.75 0 010 1z" fill="#333"></path>
                  </svg></button><input type="number" name="selector-quantity-input" autocomplete="off"
                  class="cart-btn-input" value="1" />
                <div class="cart-btn-unidade">1 unidade</div>
                <button class="cart-btn-plus">
                  <svg viewBox="0 0 16 16" aria-labelledby="plusSymbolRoundedIcon plusSymbolRoundedDesc">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M8 0a.75.75 0 00-.75.75v6.5H.75a.75.75 0 000 1.5h6.5v6.5a.75.75 0 001.5 0v-6.5h6.5a.75.75 0 000-1.5h-6.5V.75A.75.75 0 008 0z"
                      fill="inherit"></path>
                  </svg>
                </button>
              </div>
            </div>
          </li>
          <li>
            <h4 class="ls-title-product">
              <strong>06</strong> Honda FIT 2010 4p Flex 1.4 16v
            </h4>
            <img src="" alt="" />
            <p>(descrição)</p>
            <p>(Preço)</p>
            <p>(Qtd)</p>
            <div class="cart-btn-label">
              <label>quantidade:</label>
              <div class="cart-btn">
                <button class="cart-btn-minus">
                  <svg width="16" height="2" viewBox="0 0 16 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M0 1A.75.75 0 01.75.25h14.5a.75.75 0 010 1.5H.75A.75.75 0 010 1z" fill="#333"></path>
                  </svg></button><input type="number" name="selector-quantity-input" autocomplete="off"
                  class="cart-btn-input" value="1" />
                <div class="cart-btn-unidade">1 unidade</div>
                <button class="cart-btn-plus">
                  <svg viewBox="0 0 16 16" aria-labelledby="plusSymbolRoundedIcon plusSymbolRoundedDesc">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M8 0a.75.75 0 00-.75.75v6.5H.75a.75.75 0 000 1.5h6.5v6.5a.75.75 0 001.5 0v-6.5h6.5a.75.75 0 000-1.5h-6.5V.75A.75.75 0 008 0z"
                      fill="inherit"></path>
                  </svg>
                </button>
              </div>
            </div>
          </li>
          <li>
            <h4 class="ls-title-product">
              <strong>01</strong> Lorem Ipsum is simply dummy text
            </h4>
            <img src="" alt="" />
            <p>(descrição)</p>
            <p>(Preço)</p>
            <p>(Qtd)</p>
            <div class="cart-btn-label">
              <label>quantidade:</label>
              <div class="cart-btn">
                <button class="cart-btn-minus">
                  <svg width="16" height="2" viewBox="0 0 16 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M0 1A.75.75 0 01.75.25h14.5a.75.75 0 010 1.5H.75A.75.75 0 010 1z" fill="#333"></path>
                  </svg></button><input type="number" name="selector-quantity-input" autocomplete="off"
                  class="cart-btn-input" value="1" />
                <div class="cart-btn-unidade">1 unidade</div>
                <button class="cart-btn-plus">
                  <svg viewBox="0 0 16 16" aria-labelledby="plusSymbolRoundedIcon plusSymbolRoundedDesc">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M8 0a.75.75 0 00-.75.75v6.5H.75a.75.75 0 000 1.5h6.5v6.5a.75.75 0 001.5 0v-6.5h6.5a.75.75 0 000-1.5h-6.5V.75A.75.75 0 008 0z"
                      fill="inherit"></path>
                  </svg>
                </button>
              </div>
            </div>
          </li>
        </ul>
        <div class="btn-delivey-shipp">
          <input class="btn-zip-code" type="text" placeholder="digite o CEP" />
          <input type="submit" />
        </div>
        <div class="ls-about-your-order">
          <h5>resumo do pedido</h5>
          <tr>
            <td>
              <img src="" alt="" />
            </td>
            <td>nome do produto</td>
            <td>R$(preço)</td>
          </tr>
          <tr>
            <td>frete</td>
            <td>valor</td>
          </tr>
          <hr />
          <tr>
            <td>total</td>
            <td>(valor total) R$</td>
          </tr>
        </div>
        <footer class="ls-cart-footer ls-txt-center">
          <a href="#" class="ls-btn-primary">Finalizar Compra</a>
        </footer>
      </div>
    </div>
  </main>