<%- include('partials/head') %>
<!-- Include Header -->
<%- include('partials/header', {title: 'Início' }) %>
<!-- Include Banner -->
<main class="forgot-psw">
   <link rel="stylesheet" href="stylesheets/privacyPolice.css">

    <h2 class="police-title">Políticas de Privacidade</h2>

    <div class="privacy-rules">
        <section>
            <article>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae rem voluptatum sequi eos commodi consectetur culpa temporibus provident sed ea.</p>
               <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum, atque!
               </p>
            </article><br>
            <article>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae rem voluptatum sequi eos commodi consectetur culpa temporibus provident sed ea.Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae rem voluptatum sequi eos commodi consectetur culpa temporibus provident sed ea.Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae rem voluptatum sequi eos commodi consectetur culpa temporibus provident sed ea.Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae rem voluptatum sequi eos commodi consectetur culpa temporibus provident sed ea.Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae rem voluptatum sequi eos commodi consectetur culpa temporibus provident sed ea.Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae rem voluptatum sequi eos commodi consectetur culpa temporibus provident sed ea.</p><br>
               <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum, atque!
               </p>
            </article><br>
            <article>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae rem voluptatum sequi eos commodi consectetur culpa temporibus provident sed ea.</p>
               <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum, atque!Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae rem voluptatum sequi eos commodi consectetur culpa temporibus provident sed ea.
               </p>
            </article><br>
        </section><br><br>
        <section>
            <article>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae rem voluptatum sequi eos commodi consectetur culpa temporibus provident sed ea.Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae rem voluptatum sequi eos commodi consectetur culpa temporibus provident sed ea.Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae rem voluptatum sequi eos commodi consectetur culpa temporibus provident sed ea.Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae rem voluptatum sequi eos commodi consectetur culpa temporibus provident sed ea.Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae rem voluptatum sequi eos commodi consectetur culpa temporibus provident sed ea.Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae rem voluptatum sequi eos commodi consectetur culpa temporibus provident sed ea.Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae rem voluptatum sequi eos commodi consectetur culpa temporibus provident sed ea.</p>
               <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum, atque!
               </p>
            </article><br>
            <article>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae rem voluptatum sequi eos commodi consectetur culpa temporibus provident sed ea.</p>
               <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum, atque!
               </p>
            </article><br>
            <article>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae rem voluptatum sequi eos commodi consectetur culpa temporibus provident sed ea.</p>
               <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum, atque!Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae rem voluptatum sequi eos commodi consectetur culpa temporibus provident sed ea.Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae rem voluptatum sequi eos commodi consectetur culpa temporibus provident sed ea.Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae rem voluptatum sequi eos commodi consectetur culpa temporibus provident sed ea.Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae rem voluptatum sequi eos commodi consectetur culpa temporibus provident sed ea.Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae rem voluptatum sequi eos commodi consectetur culpa temporibus provident sed ea.
               </p>
            </article><br>
        </section><br><br>
        <section>
            <article>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae rem voluptatum sequi eos commodi consectetur culpa temporibus provident sed ea.Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae rem voluptatum sequi eos commodi consectetur culpa temporibus provident sed ea.Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae rem voluptatum sequi eos commodi consectetur culpa temporibus provident sed ea.Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae rem voluptatum sequi eos commodi consectetur culpa temporibus provident sed ea.Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae rem voluptatum sequi eos commodi consectetur culpa temporibus provident sed ea.Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae rem voluptatum sequi eos commodi consectetur culpa temporibus provident sed ea.Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae rem voluptatum sequi eos commodi consectetur culpa temporibus provident sed ea.</p>
               <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum, atque!
               </p>
            </article><br>
            <article>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae rem voluptatum sequi eos commodi consectetur culpa temporibus provident sed ea.</p>
               <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum, atque!
               </p>
            </article><br>
            <article>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae rem voluptatum sequi eos commodi consectetur culpa temporibus provident sed ea.</p>
               <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum, atque!Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae rem voluptatum sequi eos commodi consectetur culpa temporibus provident sed ea.Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae rem voluptatum sequi eos commodi consectetur culpa temporibus provident sed ea.Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae rem voluptatum sequi eos commodi consectetur culpa temporibus provident sed ea.Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae rem voluptatum sequi eos commodi consectetur culpa temporibus provident sed ea.Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae rem voluptatum sequi eos commodi consectetur culpa temporibus provident sed ea.
               </p>
            </article><br>
        </section>
</div>
</main>
<%- include('partials/footer') %>