<%- include('partials/head') %>
<!-- Include Header -->
<%- include('partials/header', {title: 'Início' }) %>
<!-- Include Banner -->
<main class="forgot-psw">

    <h2 class="index_title">Entrar</h2>

    <div class="privacy-rules">
        <section>
            <article>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae rem voluptatum sequi eos commodi consectetur culpa temporibus provident sed ea.</p>
               <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum, atque!
               </p>
            </article>
            <article>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae rem voluptatum sequi eos commodi consectetur culpa temporibus provident sed ea.Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae rem voluptatum sequi eos commodi consectetur culpa temporibus provident sed ea.Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae rem voluptatum sequi eos commodi consectetur culpa temporibus provident sed ea.Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae rem voluptatum sequi eos commodi consectetur culpa temporibus provident sed ea.Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae rem voluptatum sequi eos commodi consectetur culpa temporibus provident sed ea.Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae rem voluptatum sequi eos commodi consectetur culpa temporibus provident sed ea.</p>
               <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum, atque!
               </p>
            </article>
            <article>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae rem voluptatum sequi eos commodi consectetur culpa temporibus provident sed ea.</p>
               <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum, atque!Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae rem voluptatum sequi eos commodi consectetur culpa temporibus provident sed ea.
               </p>
            </article>
        </section>
        <section>
            <article>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae rem voluptatum sequi eos commodi consectetur culpa temporibus provident sed ea.Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae rem voluptatum sequi eos commodi consectetur culpa temporibus provident sed ea.Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae rem voluptatum sequi eos commodi consectetur culpa temporibus provident sed ea.Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae rem voluptatum sequi eos commodi consectetur culpa temporibus provident sed ea.Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae rem voluptatum sequi eos commodi consectetur culpa temporibus provident sed ea.Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae rem voluptatum sequi eos commodi consectetur culpa temporibus provident sed ea.Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae rem voluptatum sequi eos commodi consectetur culpa temporibus provident sed ea.</p>
               <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum, atque!
               </p>
            </article>
            <article>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae rem voluptatum sequi eos commodi consectetur culpa temporibus provident sed ea.</p>
               <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum, atque!
               </p>
            </article>
            <article>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae rem voluptatum sequi eos commodi consectetur culpa temporibus provident sed ea.</p>
               <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum, atque!Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae rem voluptatum sequi eos commodi consectetur culpa temporibus provident sed ea.Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae rem voluptatum sequi eos commodi consectetur culpa temporibus provident sed ea.Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae rem voluptatum sequi eos commodi consectetur culpa temporibus provident sed ea.Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae rem voluptatum sequi eos commodi consectetur culpa temporibus provident sed ea.Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae rem voluptatum sequi eos commodi consectetur culpa temporibus provident sed ea.
               </p>
            </article>
        </section>
        <section>
            <article>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae rem voluptatum sequi eos commodi consectetur culpa temporibus provident sed ea.Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae rem voluptatum sequi eos commodi consectetur culpa temporibus provident sed ea.Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae rem voluptatum sequi eos commodi consectetur culpa temporibus provident sed ea.Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae rem voluptatum sequi eos commodi consectetur culpa temporibus provident sed ea.Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae rem voluptatum sequi eos commodi consectetur culpa temporibus provident sed ea.Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae rem voluptatum sequi eos commodi consectetur culpa temporibus provident sed ea.Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae rem voluptatum sequi eos commodi consectetur culpa temporibus provident sed ea.</p>
               <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum, atque!
               </p>
            </article>
            <article>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae rem voluptatum sequi eos commodi consectetur culpa temporibus provident sed ea.</p>
               <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum, atque!
               </p>
            </article>
            <article>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae rem voluptatum sequi eos commodi consectetur culpa temporibus provident sed ea.</p>
               <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum, atque!Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae rem voluptatum sequi eos commodi consectetur culpa temporibus provident sed ea.Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae rem voluptatum sequi eos commodi consectetur culpa temporibus provident sed ea.Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae rem voluptatum sequi eos commodi consectetur culpa temporibus provident sed ea.Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae rem voluptatum sequi eos commodi consectetur culpa temporibus provident sed ea.Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae rem voluptatum sequi eos commodi consectetur culpa temporibus provident sed ea.
               </p>
            </article>
        </section>
</div>
</main>
<%- include('partials/footer') %>