<%- include('partials/head') %>
<!-- Include Header -->
<%- include('partials/header', {title: 'Início' }) %>
<%- include('partials/navbarCategories') %>

<!-- Include Banner -->
<main class="forgot-psw">
    <link rel="stylesheet" href="/stylesheets/recoverPassword.css">
    <h2 class="forgot-password_title">Entrar</h2>

    <p class="forgot-psw">Digite o seu email de recuperação de senha</p>
    <form class="form-forgot-psw" method="post" action="/users/recoverPassword"></form>
        <input class="input-forgot-psw" type="email" placeholder="Digite aqui seu email">
        <button class="btn-forgot-psw" type="submit">Enviar</button>
    </form>
</main>
<%- include('partials/footer') %>