<%- include('partials/head') %>
<!-- Include Header -->
<%- include('partials/header', {title: 'Início' }) %>
<!-- Include Banner -->
<%- include('partials/banner') %>
<main>
    <link rel="stylesheet" href="/stylesheets/userLogin.css" />

    <div class="login">
      <div class="input-container">
        <form action="/login" method="post">
          <label for="input-email">Email</label>
          <input
            class="email"
            type="email"
            name="email"
            id="input-email"
            placeholder="digite seu email"
          />
          <label for="input-password">Senha</label>
          <input
            class="password"
            type="password"
            name="password"
            id="input-password"
            placeholder="digite sua senha"
          />
          <button class="btn-login" type="submit">Login</button>
        </form>
      </div>
      <a href="" class="remember-password">esqueceu sua senha?</a>
    </div>
  </main>
  <%- include('partials/footer') %>
