<!-- Include Header -->
<%- include('partials/header', {title: 'Início' }) %>
  <main>
    <div class="container">
      <p>Caminho para as páginas</p>
      <div>
        <form action="">
          <div>
            <img src="" alt="">
            <label for=""></label>
            <input type="text">
            <button type="submit"></button>
          </div>
          <div>
            <div>
              <label for="name" class="form-label">Nome:</label>
              <input type="text" id="name" name="name" placeholder="Nome do usuário" class="form-input"
                value="Nome do usuário">
              <button type="submit">EDIT</button>
            </div>
            <div>
              <label for="name" class="form-label">Nome:</label>
              <input type="text" id="name" name="name" placeholder="Nome do usuário" class="form-input"
                value="Nome do usuário">
              <button type="submit">EDIT</button>
            </div>
            <div>
              <label for="name" class="form-label">Nome:</label>
              <input type="text" id="name" name="name" placeholder="Nome do usuário" class="form-input"
                value="Nome do usuário">
              <button type="submit">EDIT</button>
            </div>
            <div>
              <label for="name" class="form-label">Nome:</label>
              <input type="text" id="name" name="name" placeholder="Nome do usuário" class="form-input"
                value="Nome do usuário">
              <button type="submit">EDIT</button>
            </div>
          </div>

        </form>

      </div>
      <h2>Minhas compras</h2>
      <div>

      </div>
    </div>

  </main>
  <!-- Include Footer -->
  <%- include('partials/footer') %>
    </body>

    </html>