<!-- Include Header -->
<%- include('partials/header', {title: 'Início' }) %>
  <main>
    <link rel="stylesheet" href="/stylesheets/user.css">
    <div class="container-user">
      <div class="user-menu">
        <button class="userMenuButton">
          <span>Meus pedidos</span>
        </button>
        <button class="userMenuButton">
          <span>Meus dados pessoais</span>
        </button>
      </div>
      <div class="pedidos-container">
        <h2>Meus Pedidos</h2>
        <div class="pedidos-menubar">
          <p>Pedido:</p>
          <p>Status:</p>
        </div>
        <div class="products-container">
          <h2>Produtos comprados:</h2>
          <div class="listOfProducts">
            <div class="produto-pedido">
              <img src="/img/celular.png" alt="">
              <div class="produto-pedido-left">
                <p>Produto</p>
                <p>Preço</p>
                <p>Quantidade</p>
                <p>Subtotal</p>
              </div>
            </div>
          </div>
          <div class="totalOfProducts">
            <p>Valor do Frete:</p>
            <p>Total do Pedido:</p>
          </div>
        </div>
      </div>
      <div class="userinfo-container">
        <h2>Meus dados pessoais</h2>
        <div class="user-image">
          <img src="/img/tonny.png" alt="">
          <button class="userMenuButton">
            <span>Editar</span>
          </button>
        </div>
        <div class="user-info">
          <form class="user-info-form" action="" method="POST">
            <div class="user-form-class">
              <label class="form-label" for="nome">Nome do usuário:</label>
              <input class="input-label" type="text" id="nome" name="nome" placeholder="" value="">
            </div>
            <div class="user-form-class">
              <label class="form-label" for="email">E-mail:</label>
              <input class="input-label" type="email" id="email" name="email" placeholder="" value="">
            </div>
            <div class="user-form-class">
              <label class="form-label" for="endereco">Endereço:</label>
              <input class="input-label" type="text" id="endereco" name="endereco" placeholder="" value="">
            </div>
            <div class="user-form-class">
              <label class="form-label" for="telefone">Telefone:</label>
              <input class="input-label" type="text" id="telefone" name="telefone" placeholder="" value="">
            </div>
            <button class="userMenuButton">
              <span>Editar</span>
            </button>
          </form>
        </div>

      </div>
  </main>
  <!-- Include Footer -->
  <%- include('partials/footer') %>
    </body>

    </html>