

.aboutUs-tittle {
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    font-weight: bold ;
    color: var(--medium-blue);
    text-align: center;
    margin-top: 20px;
      

}
.aboutUs-article{
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    color: var(--dark-gray);
    border: 2px solid var(--pink-degrade);
    border-radius: 16px;
    text-align: justify;
    margin: 20px;
    padding:20px;
}