main{
    width: 80%;
}
section{
    width: 100%;
    height: 30vh;
    border: 1px solid #C837C2;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}