.payment_title{
  width: 80%;
  margin: 5% 4%;
  background: linear-gradient( 120deg, var(--pink-degrade) 0%, var(--ligth-lilac) 52%, var(--dark-blue) 100% );
  padding: 2%;
  color: var(--dust-white);
  border-radius: 10px;
  box-shadow: 4px 4px 4px var(--dark-gray);
}
.main-payment{
  width: 100%;
  display: flex;
  flex-direction: column ;
  align-items: center;
  justify-content: center;
}

.ls-cart-content {
  background-color: var(--dust-white);
  color: var(--dark-gray);
  display: flex;
  flex-direction: column;

}
.table-content ul {
  width: 300px;
  height: 300px;
  font-size: 20px;
  box-shadow: 4px 4px 4px var(--dark-gray);
  border-radius: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.table-content img{
  align-self: center;
  width: 50%;
}

 .table-content p {
  text-align: center;
  color: var(--medium-gray);
 }

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

  .payment-content {
    width: 300px;
    margin: 20px ;
    padding: 10px;
    background-color: var(--dust-white);
    color: var(--dark-gray);
    box-shadow: 4px 4px 4px var(--dark-gray);
    border:1px solid var(--dark-gray);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
  .payment-content h5 {
    text-transform: uppercase;
    text-align: center;
  }
  
  .product-in-order img {
    width: 25%;    
    box-shadow: 4px 4px 4px var(--dark-gray);
  }
  .payment-form{
    color: var(--dark-gray);
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }

  .btn-wrap{
    align-self: center;
  }
  .btn-order-conclusion {
    font-size: 12px;
    padding: 5px;
    background-color: var(--ligth-lilac);
    border-radius: 10px;
    color: var(--dust-white);
    box-shadow: 2px 2px 2px var(--dark-gray);
    margin-top:20px;
  }
  .linkEntrar{
    font-size: 20px;
    color: var(--medium-blue);
  }

  @media (min-width:600px){
    .payment-content {
      width: 80%;
    }
    .table-content{
      width: 80%;
    }
  }

  @media (min-width:900px){
    .payment-content {
      width: 70%;
    }
    .table-content {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  @media (min-width:1200px){
    .payment-content {
      width: 60%;
    }
    .table-content {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  @media (min-width:1800px){
    .payment-content {
      width: 60%;
    }
    .table-content {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
 
 
 

  
  
