.ls-cart {
  
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
}
.cart-title {
  width: 90%;
  margin: 5%;
  background: linear-gradient(
    120deg,
    var(--pink-degrade) 0%,
    var(--ligth-lilac) 52%,
    var(--dark-blue) 100%
  );
  padding: 2%;
  color: var(--dust-white);
  border-radius: 10px;
  box-shadow: 4px 4px 4px var(--dark-gray);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.ls-checkbox-cart{
  display: none
}
.ls-cart-content {
  width: 340px;
  margin: 20px 0px;
  font-size: 10px;
}
.ls-no-style-list {
  row-gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ls-no-style-list li {
  font-size: 16px;
  margin:10px;
  padding: 10px;
  border: 1px solid var(--dark-gray);
  box-shadow: 4px 4px 4px var(--dark-gray);
  border-radius: 12px;
}
.ls-no-style-list a {
  margin-left: 8px;
  font-size: 12px;
  color: var(--dark-gray);
  text-align: left;
}
a:hover {
  cursor: pointer;
}
.ls-no-style-list p {
  font-size: 10px;
}
.ls-no-style-list p:nth-child(2) {
  font-size: 12px;
  margin-left: 8px;
}
.ls-no-style-list li img {
  width: 50%;
  text-align: left;
}
.ls-about-your-order {
  border: 1px solid var(--dark-gray);
  box-shadow: 4px 4px 4px var(--dark-gray);
  border-radius: 12px;
  width: 320px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ls-about-your-order h5 {
  text-align: center;
  text-transform: uppercase;
}
.ls-about-your-order p {
  color: var(--dark-gray);
  line-height: 8px;
  margin: 20px;
}
.ls-about-your-order a {
  text-decoration: none;
  margin: 20px;
}
.btn-zip-code {
  width: 220px;
  height: 30px;
  margin-bottom: 20px; 
  padding: 4px;
  box-shadow: 4px 4px 4px var(--dark-gray);
  border-radius: 6px;
  background-color: var(--dust-white);
}

.btn-zip-code-submit {
  margin-left: 128px;
  margin-top: 8px;
  border-radius: 6px;
  color: var(--dark-gray);
  opacity: 0.5;
  transition: 0.4s;
}
.btn-zip-code-submit:hover {
  cursor: pointer;
  opacity: 1;
}
.delivery-shipp-cost {
  margin-left: 20px;
}
.wrap-btn-order{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.btn-order {
  font-size: 12px;
  width: 100px;
  padding: 5px;
  background-color: var(--ligth-lilac);
  border-radius: 10px;
  color: var(--dust-white);
  box-shadow: 2px 2px 2px var(--dark-gray);
  margin: 20px 120px;
}
.ls-cart-footer {
  width: 100%;
  height: 30px;
  margin: 20px;
}

.empty-cart{
  color: var(--dark-gray);
  font-size: 30px;
  border-radius: 10px;
  box-shadow: 4px 4px 4px var(--dark-gray);
  margin: 5%;
}

@media (min-width: 600px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .ls-no-style-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .ls-no-style-list li {
    width: 260px;
    height: 260px;
    margin: 5px;
  }
  .ls-about-your-order {
    width: 480px;
    align-items: center;
  }
}
@media (min-width: 900px) {
  /* big landscape tablets, laptops, and desktops */
  .ls-no-style-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .ls-no-style-list li {
    width: 340px;
    height: 340px;
    margin: 10px;
  }
  .ls-about-your-order {
    width: 600px;
    align-items: center;
  }
  .empty-cart{
    font-size: 30px;
  }
  .continue-buying{
    color: var(--medium-blue);
    font-size: 18px;
  }
}

  @media (min-width: 1200px) {
    /* hi-res laptops and deskt
    ops */

    .ls-no-style-list li {
      width: 300px;
      height: 300px;
      margin: 10px;
    }
    .ls-no-style-list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
    
    }
    
 @media (min-width: 1800px) {
  /* hi-res laptops and desktops */
  

  .ls-no-style-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

}
