:root {
  --pink-degrade: #C837C2;
  --ligth-lilac: #7F7AE9;
  --ultra-ligth-blue: #CEE3F0;
  --ligth-blue: #3786E1;
  --medium-blue: #2C3AC1;
  --dark-blue: #070D40;
  --dark-gray: #252525;
  --dust-white: #FBFBFB;
}
.ls-cart-header {
  width: 100vh;
  max-width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--ultra-ligth-blue);
  border-radius: 10px;
  margin-top: 8px;
  margin-left: 190px;
  height: 60px;
  box-shadow: var(--dark-blue) 0px 1px 8px;
}
.ls-cart-header small,
strong {
  font-size: 12px;
  column-gap: 2px;
  z-index: 1;
}
.ls-ico-cart {
  visibility: hidden;
}
.ls-checkbox-cart {
  visibility: hidden;
}

.ls-cart-content {
  width: 600px;
  padding: 20px;
  background-color: rgba(0,0,0,0.5);
  color: #FFF;
  margin-left: auto;
  margin-right: auto;
}
table {
  width: 100%;
  border-collapse: collapse;
}
table td {
  border: solid 1px #333;
    padding: 10px;
}
table:first-child {
  width: 100px;
    padding: 1px;
}
a:hover {
  cursor: pointer;
}
table p {
  font-size: 12px;
  text-align: left;
}
table p:nth-child(2) {
  font-size: 12px;
  margin-left: 8px;
}
table img {
  width: 25%;
    display: block;
    text-align: left;
}
.cart-btn-label{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  margin-right: 20px;
  margin-bottom: 10px;
}
.cart-btn-label>label{
  margin-right: 45px;
  margin-bottom: 2px;
}
.cart-btn {
  width:100px;
  height: 20px;
  display:flex;
  flex-direction: row;
  row-gap: 5px;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  margin-bottom: 10px;
  border: 1px solid var(--ligth-blue);
  border-radius: 8px;
  box-shadow: var(--dark-blue) 0px 1px 3px;
}
.cart-btn-input {
  font-size: 14px;
  line-height: 16px;
  width: 100%;
  text-align: center;
  color: var(--dark-gray);
  max-width: 0px;
  background: none;
  display: none;
  outline: none;
}
.btn-delibvery-shipp {
  width: 100%;
  border: 1px solid var(--medium-blue) 0px 1px 8px;
}
.btn-zip-code {
  width: 120px;
  margin-left: 28px;
  padding: 4px;
  border: var(--medium-blue) 0.5px solid;
  border-radius: 6px;
  background-color: var(--ultra-ligth-blue);
  opacity: 0.5;
  transition: 0.4s;
}
.btn-zip-code:hover{
  cursor: pointer;
  border: none;
  opacity: 1;
}
.btn-zip-code-submit {
  margin-left: 128px;
  margin-top: 8px;
  border: var(--ligth-blue) 0.5px solid;
  border-radius: 6px;
  background-color: var(--ultra-ligth-blue);
  color: var(--dark-gray);
  opacity: 0.5;
  transition: 0.4s;
}
.btn-zip-code-submit:hover {
  cursor: pointer;
  opacity: 1;
}
.ls-about-your-order {
  border: 1px solid var(--ligth-blue);
  border-radius: 8px;
  width: 340px;
  height: 300px;
  margin: 10px;
  /* margin-left: 20px; */
}
.ls-about-your-order h5 {
  text-align: center;
}
.ls-about-your-order  p {
  font-size: 16px;
  font-weight: normal;
  color: var(--dark-gray);
  line-height: 8px;
  margin: 20px;
}
.delivery-tax {
  border: 1px solid var(--ligth-blue);
  border-radius: 8px;
  width: 340px;
  height: 50px;
  margin: 10px;
}
.delivery-tax p{
  margin-top:15px;
  margin-left: 10px;
}
.ls-cart-footer{
  width:100%;
  height: 30px;
  margin: 20px;
}
.amount-order {
  border: 1px solid var(--ligth-blue);
  border-radius: 8px;
  width: 340px;
  height: 50px;
  margin: 10px;
}
.amount-order p{
  margin-top:15px;
  margin-left: 10px;
}
.ls-btn-primary {
  margin-left: 100px;
  background-color: var(--ultra-ligth-blue);
  border-radius: 4px;
  color: var(--dark-blue);
  font-size: 12px;
  padding: 8px;
  opacity: 0.5;
  transition: 0.4s
}
.ls-btn-primary:hover {
cursor: pointer;
opacity: 1;
}
@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
 .ls-cart-header{
  font-size: 16px;
  margin-left: 600px;
}
.ls-cart-content {
  width: 100%;
  display: flex;
  flex-direction: row;
 }
 .cart-btn{
  margin-bottom: 10px;
 }
 
.btn-zip-code{
  margin-left: 120px;
}
 .btn-zip-code-submit {
  margin-left: 380px;
}
.ls-about-your-order  {
  width: 600px;
  margin: 10px 25px;
}
.delivery-tax {
  width: 750px;
  margin: 10px 25px;
}
.amount-order {
  width: 750px;
  margin: 10px 25px
}
.ls-btn-primary {
  margin-left: 340px;
  }
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
  .ls-cart {
    margin-left: 100px;
  }
 
  @media (min-width: 1281px) {
    /* hi-res laptops and desktops */
  .ls-cart{
    margin-left: 230px
  }
  }
}