.main-payment{
  width: 100%;
  display: flex;
  flex-direction: column ;
  align-items: center;
  justify-content: center;
}

.payment_title{
  width: 80%;
  margin: 5% 4%;
  background: linear-gradient( 120deg, var(--pink-degrade) 0%, var(--ligth-lilac) 52%, var(--dark-blue) 100% );
  padding: 2%;
  color: var(--dust-white);
  border-radius: 10px;
  box-shadow: 4px 4px 4px var(--dark-gray);
}


  .payment-content {
    width: 90%;
    margin: 20px ;
    padding: 10px;
    background-color: var(--dust-white);
    color: var(--dark-gray);
    box-shadow: 4px 4px 4px var(--dark-gray);
    border:1px solid var(--ligth-gray);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
  .payment-content h5 {
    text-transform: uppercase;
    text-align: center;
  }
  
  .product-in-order img {
    width: 25%;    
    box-shadow: 4px 4px 4px var(--dark-gray);
  }
  .payment-form{
    color: var(--dark-gray);
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }

  .btn-wrap{
    align-self: center;
  }
  .btn-order-conclusion {
    font-size: 12px;
    padding: 5px;
    background-color: var(--ligth-lilac);
    border-radius: 10px;
    color: var(--dust-white);
    box-shadow: 2px 2px 2px var(--dark-gray);
    margin-top:20px;
  }

  @media (min-width:600px){
    .payment-content {
      width: 80%;
    }
  }

  @media (min-width:900px){
    .payment-content {
      width: 70%;
    }
  }

  @media (min-width:1200px){
    .payment-content {
      width: 60%;
    }
  }

  @media (min-width:1800px){
    .payment-content {
      width: 50%;
    }
  }
  /* .ls-ico-cart {
    visibility: hidden;
  }
  .ls-checkbox-cart {
    visibility: hidden;
  }
  .ls-cart-content {

    padding: 20px;
    background-color: var(--dust-white);
    color: var(--dark-gray)
    margin-left: auto;
    margin-right: auto;
  }
  table {
    width: 50%;
    border-collapse: collapse;
  }
  table td {
    border: solid 1px #333;
      padding: 10px;
  }
  table:first-child {
    width: 100px;
      padding: 1px;
  }
  a:hover {
    cursor: pointer;
  }
  table p {
    font-size: 12px;
    text-align: left;
  }
  table p:nth-child(2) {
    font-size: 12px;
    margin-left: 8px;
  }
  table img {
    width: 25%;
      display: block;
      text-align: left;
  } */
  
 

  
  
