
.index_title{
    margin: 1% 4%;
    background: linear-gradient( 120deg, var(--pink-degrade) 0%, var(--ligth-lilac) 52%, var(--dark-blue) 100% );
    padding: 2%;
    color: #fbfbfb;
    border-radius: 20px;
    box-shadow: 4px 4px 4px var(--dark-gray);
  }
  
  .register_account {
    width: 100vw;
    height: 100vh;
    border-radius: 8px;
    margin-top: 100px;
  }  
  
  .error {
    text-align: center;
    color: var(--pink-degrade);
    margin: 0 auto;
  }
  
  .input_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--ligth-blue);
    margin: 20px ;
    row-gap: 10px;
    padding: 5px;
  }
  
  .name {
    width: 100%;
    margin: auto;
    padding: 10px 5px;
    border: 1px solid var(--medium-blue);
    border-radius: 8px;
  }
  
  .btn_registration {
      font-size: 12px;
      align-items: center;
      width: 80px;
      padding: 5px;
      background-color: var(--ligth-lilac);
      border-radius: 10px;
      color: var(--dust-white);
      display: inline-block;
      box-shadow: 2px 2px 2px var(--dark-gray);
      justify-items: center;
  }
  .btn_registration:hover{
    cursor: pointer;
    background-color: var(--ligth-blue);
    }
  
  ::placeholder {
    color: var(--ligth-lilac);
    opacity: 0.3;
  }
  
  .danger{
    font-size: .5 rem;
    color: var(--pink-degrade);
  }
  
  
  @media (min-width: 600px){
    .input_container{
      max-width: 600px;
      margin: 100px;
    }
    
    .register_account{
      max-height: 500px;
      margin-top: 80px;
    }
  
  
  .btn_registration{
    margin-top: 30px;
  }
  }
  
  @media (min-width: 900px){
  
  .input_container{
    margin: 100px 185px;}
  
  .name {
    max-width: 600px;
  }
  
  .btn_registration {
    max-width: 500px;
  }
  }
  
  @media (min-width: 1200px){
  
    .input_container{
      margin: 100px 300px;
    }
  
    .register_account{
      margin-top: 200px;
    }
  }
  
  @media (min-width: 1800px){
  
    .input_container{
      margin: 100px 600px;
    }
  
    .register_account{
      margin-top: 200px;
    }
  }
  