
:root {
    --pink-degrade: #c837c2;
    --ligth-lilac: #7f7ae9;
    --ultra-ligth-blue: #cee3f0;
    --ligth-blue: #3786e1;
    --medium-blue: #2c3ac1;
    --medium-gray: #565656;
    --dark-blue: #070d40;
    --dark-gray: #252525;
    --ligth-gray:#f1f1f1;
    --dust-white: #fbfbfb;
  }

.forgot-psw{
    display: flex;
    flex-direction: column;
    max-width: 90%;
    max-height: 90%;
    margin: 10px auto;
    color: var(--medium-blue);
}

 .p-forgot-psw {
    text-align: center;
    line-height: normal;

}

.form-forgot-psw {
    margin: 10px auto;
    background-color: var(--dust-white);
    border: 1px solid var(--medium-blue);   
}


.input-forgot-psw {
    padding: 10px;
    border: 1px solid var(--medium-blue);
    border-radius: 8px;
    transition: 0.3s;
}

.input-forgot-psw:hover{
    cursor: pointer;
    border: 1px solid var(--pink-degrade);   
    border-radius:8px ;
}

::placeholder {
    color: var(--ligth-lilac);
    opacity: 0.3;
    padding: 10px;
}

.btn-forgot-psw {
    margin: 10px auto;
    padding: 10px;
    border: 1px solid var(--medium-blue);
    border-radius: 8px;
    color: var(--medium-blue);
    background-color: var(--ultra-ligth-blue);
    width: 200px;
    transition: 0.3s;
}
.btn-forgot-psw:hover {
    cursor: pointer;
    color: var(--pink-degrade);

}
@media(min-width: 801px){
    .forgot-psw{
        max-width: 70%;
        max-height: 70%;
}
}
@media(min-width: 1025px){
    .forgot-psw{
        max-width: 50%;
        max-height: 70%;
}
}



