.fg-psw main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 100px 0;
}
.forgot-psw{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 200px 0;
    color: var(--dark-gray);
}

.p-forgot-psw  {
    color: var(--medium-gray);
    text-align: center;
    line-height: normal;
}

.form-forgot-psw {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--dust-white);
    border: 1px solid var(--dust-white);
}

.input-forgot-psw {
    width: 200px;
    padding: 10px;
    border: 1px solid var(--dark-gray);
    border-radius: 8px;
    transition: 0.3s;
}

.input-forgot-psw:hover {
    cursor: pointer;
    border: 1px solid var(--pink-degrade);
    border-radius: 8px;
}

::placeholder {
    color: var(--ligth-lilac);
    opacity: 0.3;
    padding: 10px;
}

.btn-forgot-psw {
    margin: 10px auto;
    padding: 10px;
    border: 1px solid var(--dark-gray);
    border-radius: 8px;
    background-color: var(--light-gray);
    color: var(--dark-gray);
    width: 100px;
    transition: 0.3s;
}

.btn-forgot-psw:hover {
    cursor: pointer;
    cursor: var(--pink-degrade);
}

@media(min-width: 600px) {
    
}

@media(min-width: 900px) {
    .forgot-psw{
        margin: 300px 0;
    }
    
}