
.index-header {
  background-color: var(--dust-white);
  position: relative;
  display: flex;
  flex-direction: column;
}

.container-header {
  background: linear-gradient(
    180deg,
    var(--pink-degrade) 0%,
    var(--ligth-lilac) 52%,
    var(--dark-blue) 100%
  );
  box-shadow: 5px 5px 5px var(--medium-gray) ;
}

.logo {
  max-width: 35%;
  max-height: 35%;
  padding-top: 10px;
  padding-left: 10px;
}

.nav {
  width: 100%;
  height: 100%;
  position: fixed;
  background: transparent;
  overflow: hidden;
  max-height: 0;
  transition: max-heigth 0.5s ease-out;
}

.menu {
  padding: 0;
  list-style: none;
}

.menu li {
  position: relative;
}

.menu img {
  max-width: 20px;
  max-height: 20px;
}

.menu li a {
  display: block;
  padding:  5px 10px;
  color: var(--dust-white);
  text-transform: uppercase;
}
.menu li a:hover{
  text-decoration: underline;
  color: var(--pink-degrade);
  text-shadow: 0px 0px 5px var(--medium-gray);
}

.menu li a:hover {
  color: var(--pink-degrade);
  text-shadow: 0px 0px 5px var(--ligth-gray);
}

.menu li ul{
  position: absolute;
  top: 30px;
  left:0;
  display:none;
}

.menu li:hover ul, 
.menu li.over ul {
  display:block ;
}

.menu li ul li {
  background-color: var(--ligth-lilac);
  display: block;
  width: 80px;
}

.menu-hamburguer {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}

#checkbox-menu {
  position: absolute;
  opacity: 0;
}

.hamburguer {
  cursor: pointer;
  position: absolute;
  top: 20px;
  width: 30px;
  height: 22px;
}

span {
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 30px;
  background: var(--dark-blue);
  transition: 0.25s ease-in-out;
}

span:nth-child(1) {
  top: 0;
}

span:nth-child(2) {
  top: 8px;
}

span:nth-child(3) {
  top: 16px;
}

#checkbox-menu:checked + label span:nth-child(1) {
  transform: rotate(-45deg);
  top: 8px;
}

#checkbox-menu:checked + label span:nth-child(2) {
  opacity: 0;
}

#checkbox-menu:checked + label span:nth-child(3) {
  transform: rotate(45deg);
  top: 8px;
}

#checkbox-menu:checked ~ nav {
  max-height: 100%;
  position: relative;
}

.search-form {
  max-width: 270px;
  max-height: 30px;
  border: 0.3px solid var(--ligth-blue);
  border-radius: 60px;
  margin-bottom: 4px;
  margin-left: 32px;
  background-color: var(--dust-white);
}

.search-form form{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 8px;
}

.search-bar input {
  min-width: 200px;
  border: 0;
  outline: none;
  background: transparent;
  margin-left: 8px;
}

.search-bar input::placeholder {
  color: var(--ligth-lilac);
  opacity: 0.2;
}

.btn-sb {
  max-width: 30px;
  border: none;
  background: none;
  margin-left: 60px;
}

.btn_search {
  max-width: 50%;
  max-height: 50%;  
  border: none;
  background: transparent;
}

hr {
  width: 100%;
  height: 2px;
  background-color: var(--ligth-blue);
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
  @media (min-width: 600px) {
    .container-header {
      background: linear-gradient(
        135deg,
        var(--dust-white) 45%,
        var(--pink-degrade) 75%,
        var(--ligth-lilac) 85%,
        var(--dark-blue) 100%
      );
      height: 100px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .container-header a{
      max-width: 200px;
    }
  
    .logo {
      max-width: 80%;
      max-height: 40%;
      margin-bottom: 5px;
      margin-left: 20px;
    }
  
    .menu-hamburguer {
      align-items: center;
      justify-content: space-between;
    }
  
    .hamburguer {
      display: none;
    }
  
    .nav {
      max-height: none;
      top: 15px;
      position: relative;
      float: right;
      width: fit-content;
      overflow: auto;
      background: transparent;
      margin-right: 0px;
    }
  
    .menu a {
      padding: 5px;
      color: var(--dark-blue);
      font-size: 10px;
    }
  
    .menu li {
      font-size: 10px;
      float: left;
    }
  
    .search-form {
      width: 380px;
      font-size: 12px;
      margin: 0;
    }
  
    .btn-sb {
      display: inline;
      border: none;
      background: transparent;
      margin-left: 60px ;
    }
  
    .search-bar input::placeholder {
      font-size: 15px;
    }
  
    .btn_search {
      max-width: 20px;
      max-height: 20px;
    }
  }

  @media (min-width: 900px) {
    /* big landscape tablets, laptops, and desktops */
    .logo {
      max-width: 50%;
      max-height: 50%;
      margin-left: 30px;
    }
  
    .container-header {
      background: linear-gradient(
        135deg,
        var(--dust-white) 65%,
        var(--pink-degrade) 75%,
        var(--ligth-lilac) 85%,
        var(--dark-blue) 100%
      );
    }
  
    .container-header a{
      max-width: 300px;
    }
  
    .search-form {
      display: flex;
      align-items: center;
      justify-content: space-around;
      min-width: 400px;
      font-size: 12px;
    }
  
    .btn_search{
      max-width: 20%;
      min-width: 20%;
      margin-left: 100px;
    }
  
    .btn-sb {
      margin-left: 150px;
    }
  }

  @media (min-width: 900px) {
    /* big landscape tablets, laptops, and desktops */
    .logo {
      max-width: 50%;
      max-height: 50%;
      margin-left: 30px;
    }
  
    .container-header {
      background: linear-gradient(
        135deg,
        var(--dust-white) 65%,
        var(--pink-degrade) 75%,
        var(--ligth-lilac) 85%,
        var(--dark-blue) 100%
      );
    }
  
    .container-header a{
      max-width: 300px;
    }
  
    .search-form {
      display: flex;
      align-items: center;
      justify-content: space-around;
      min-width: 400px;
      font-size: 12px;
    }
  
    .btn_search{
      max-width: 20%;
      min-width: 20%;
      margin-left: 100px;
    }
  
    .btn-sb {
      margin-left: 150px;
    }
  }  

  @media (min-width: 1200px) {
    .search-form {
      min-width: 650px;
      min-height: 30px;
    }

  .btn-sb {
    margin-left: 400px;
  }

  }
  @media (min-width: 1800px){
  
  }