:root {
  --pink-degrade: #c837c2;
  --ligth-lilac: #7f7ae9;
  --ultra-ligth-blue: #cee3f0;
  --ligth-blue: #3786e1;
  --medium-blue: #2c3ac1;
  --dark-blue: #070d40;
  --dark-gray: #252525;
  --dust-white: #fbfbfb;
}

* html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}


li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  margin: 0;
}

.index-header {
  background-color: var(--dust-white);
  position: relative;
  display: flex;
  flex-direction: column;
}

.container {
  background: linear-gradient(
    180deg,
    var(--pink-degrade) 0%,
    var(--ligth-lilac) 52%,
    var(--dark-blue) 100%
  );
}

.logo {
  max-width: 35%;
  max-height: 35%;
  padding-top: 10px;
  padding-left: 10px;
}

.nav {
  width: 100%;
  height: 100%;
  position: fixed;
  background: transparent;
  overflow: hidden;
  max-height: 0;
  transition: max-heigth 0.5s ease-out;
}

.menu {
  padding: 0;
}

.menu img {
  max-width: 20px;
  max-height: 20px;
}

.menu a {
  display: block;
  padding: 32px;
  color: var(--dark-gray);
  text-transform: uppercase;
}

.menu a:hover {
  background-color: var(--ultra-ligth-blue);
}

.menu-hamburguer {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}

#checkbox-menu {
  position: absolute;
  opacity: 0;
}

.hamburguer {
  cursor: pointer;
  position: absolute;
  top: 20px;
  width: 30px;
  height: 22px;
}

span {
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 30px;
  background: var(--dark-blue);
  transition: 0.25s ease-in-out;
}

span:nth-child(1) {
  top: 0;
}

span:nth-child(2) {
  top: 8px;
}

span:nth-child(3) {
  top: 16px;
}

#checkbox-menu:checked + label span:nth-child(1) {
  transform: rotate(-45deg);
  top: 8px;
}

#checkbox-menu:checked + label span:nth-child(2) {
  opacity: 0;
}

#checkbox-menu:checked + label span:nth-child(3) {
  transform: rotate(45deg);
  top: 8px;
}

#checkbox-menu:checked ~ nav {
  max-height: 100%;
  position: relative;
}

.search-form {
  max-width: 300px;
  border: 0.3px solid var(--ligth-blue);
  border-radius: 60px;
  margin-bottom: 4px;
  margin-left: 30px;
  background-color: var(--dust-white);
}

.search-bar input {
  min-width: 200px;
  border: 0;
  outline: none;
  background: transparent;
}

.search-bar input::placeholder {
  color: #252525;
  opacity: 0.2;
}

.btn-sb {
  display: none;
}

.container-banner {
  display: inline-block;
  max-width: 100%;
  max-height: 15%;
}

.promo-banner {
  max-width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background: url('/public/img/milky-way-2695569_960_720.jpg')
    no-repeat;
  background-size: cover;
}

.promo-banner img {
  max-width: 150px;
  border-radius: 10px;
  margin: 10px;
}

.info-banner p {
  font-size: 12px;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: 0;
  text-align: left;
}

.info-banner p:nth-child(2) {
  background-color: var(--pink-degrade);
  border-radius: 4px;
}

.info-banner {
  display: inline-block;
  color: var(--dust-white);
  text-align: justify;
  font-weight: bold;
}

.banner-navbar {
  max-width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--dust-white);
}

.banner-navbar-links {
  gap: 20px;
}

.banner-navbar-links a {
  margin: 0;
  font-size: 12px;
}

.banner-navbar-icons {
  margin-top: 10px;
  gap: 40px;
}

hr {
  width: 100%;
  height: 2px;
  background-color: var(--ligth-blue);
}

.index-main main {
  width: 100%;
  margin: auto;
}

.banner-offer a {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  margin-left: 20px;
  font-size: 20px;
  text-transform: uppercase;
  color: var(--dark-gray);
}

.banner-offer {
  max-width: 90%;
  position: relative;
  background-color: var(--ultra-ligth-blue);
  border: 1px solid var(--medium-blue);
  padding-top: 30px;
  border-radius: 20px;
  margin-top: 30px;
  margin-left: 15px;
}

.banner-offer img {
  max-width: 50%;
  max-height: 50%;
  margin-left: 15%;
}

.layout-products-images {
  max-width: 100%;
  position: relative;
  padding-top: 30px;
}

.layout-products-images ul {
  padding: 0;
}

.layout-products-images li {
  width: 300px;
  height: 300px;
  margin: 30px;
  border: 1px solid var(--medium-blue);
  border-radius: 20px;
}

.layout-products-images img {
  width: 80%;
  height: 80%;
  margin: 30px;
  padding: auto;
}

footer {
  position: relative;
  width: 100%;
  height: 100px;
  background-color: var(--ultra-ligth-blue);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.footer-about-us,
.footer-account {
  text-align: left;
  font-size: 8px;
  color: var(--dark-gray);
  text-transform: uppercase;
  transition: 0.3s ease-out;
}

.logo-footer {
  max-width: 80px;
  max-height: 50px;
  left: 230px;
}

.logo-footer img {
  padding-left: 20px;
}

.social-media-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 15px;
}

.social-media-icons ul {
  width: 130px;
  padding-inline-start: 0;
}

.social-media-icons li {
  display: inline;
}

.social-media-icons a {
  width: 0;
}

.social-media-icons img {
  max-width: 17px;
  font-size: 10px;
}

.footer-account,
.footer-about-us a:hover {
  cursor: pointer;
  font-size: 8px;
}

.images {
  width: 130px;
  padding-top: 8px;
}

@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .container {
    background: linear-gradient(
      135deg,
      var(--dust-white) 65%,
      var(--pink-degrade) 75%,
      var(--ligth-lilac) 85%,
      var(--dark-blue) 100%
    );
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    max-width: 40%;
    max-height: 40%;
    margin-bottom: 5px;
    margin-left: 20px;
  }

  .menu-hamburguer {
    align-items: center;
    justify-content: space-between;
  }

  .hamburguer {
    display: none;
  }

  .nav {
    max-height: none;
    top: 15px;
    position: relative;
    float: right;
    width: fit-content;
    overflow: auto;
    background: transparent;
    margin-right: 0px;
  }

  .menu a {
    padding: 5px;
    color: var(--dark-blue);
    font-size: 10px;
  }

  .menu li {
    font-size: 10px;
    float: left;
  }

  .search-form {
    min-width: 300px;
    min-height: 25px;
    font-size: 12px;
    margin: auto;
  }

  .btn-sb {
    display: inline;
    border: none;
    background: transparent;
  }

  .search-bar input::placeholder {
    font-size: 15px;
  }

  .search {
    max-width: 20px;
    max-height: 20px;
  }

  .promo-banner img {
    max-width: 150px;
    border-radius: 10px;
    margin: 10px 20px;
  }

  .promo-banner {
    display: block;
    padding-left: 210px;
  }

  .banner-navbar-links {
    gap: 40px;
  }

  .banner-offer {
    width: 75%;
    padding-left: 80px;
    margin: 30px 60px;
  }

  .banner-offer a {
    margin: 20px 30px;
    padding-right: 100px;
  }

  .banner-offer img  {
    width: 50%;
    height: 50%;
    padding-bottom: 60px;
  }

  .layout-products-images {
    margin-left: 40px;
  }

  .layout-products-images li {
    width: 330px;
    height: 330px;
    margin: 10px 10px;
    display: inline-block;
  }

  .layout-products-images img {
    width: 80%;
    height: 80%;
    margin: auto;
    padding: auto;
  }

  .footer-about-us,
  .footer-account {
    font-size: 14px;
  }

  .images {
    width: 210px;
    padding-top: 12px;
    padding-left: 30px;
  }

  .logo-footer {
    max-width: 130px;
    margin-left: 8px;
  }

    .social-media-icons  {
      padding: 0;
    }

  .social-media-icons img {
    max-width: 25px;
  }
}

@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
  .logo {
    max-width: 50%;
    max-height: 50%;
    margin-left: 30px;
  }

  .container {
    background: linear-gradient(
      135deg,
      var(--dust-white) 65%,
      var(--pink-degrade) 75%,
      var(--ligth-lilac) 85%,
      var(--dark-blue) 100%
    );
  }

  .search-form {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 400px;
    font-size: 12px;
  }

  .banner-offer {
    padding-left: 90px;
    margin: 30px 90px;
  }

  .banner-offer a {
    padding-right: 150px;
  }

  .layout-products-images {
    margin-left: 80px;
  }
  .layout-products-images li {
    width: 230px;
    height: 230px;
    margin: 32px
  }
  .layout-products-images img  {
    margin: 25px;
    }

    @media (min-width: 1281px) {
      /* hi-res laptops and desktops */
      .index-main {
        max-width: 1280px;
        margin: auto;
      }
      .search-form {
        min-width: 650px;
        min-height: 30px;
      }

      .banner-offer {
        padding-left: 120px;
        margin: 30px 110px;
      }

    .banner-offer a {
      padding-left: 120px;
    }

    .banner-offer img {
      padding-left: 60px;
    }

    .layout-products-images {
      margin-left: 82px;
  }

    .layout-products-images li {
      width: 250px;
      height: 250px;
      margin: 10px 10px;
    }
  

    footer {
      justify-content: center;
      column-gap: 230px;
    }
  }
}
