:root {
  --pink-degrade: #c837c2;
  --ligth-lilac: #7f7ae9;
  --ultra-ligth-blue: #cee3f0;
  --ligth-blue: #3786e1;
  --medium-blue: #2c3ac1;
  --medium-gray: #656464;
  --dark-blue: #070d40;
  --dark-gray: #252525;
  --ligth-gray: #f1f1f1;
  --dust-white: #fbfbfb;
  --warning: #b00d0d;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
var,
ol,
ul,
li,
form,
label,
button,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
footer,
header,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1.3;
  background-color: var(--dust-white);
  font-family: 'Oswald', sans-serif;
  height: 100%;
}
ol,
ul {
  list-style: none;
}

li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  margin: 0;
}
/* main index */
.index-main main {
  width: 100%;
  margin: auto;
}

.index-title {
  margin: 1% 4%;
  background: linear-gradient(
    120deg,
    var(--pink-degrade) 0%,
    var(--ligth-lilac) 52%,
    var(--dark-blue) 100%
  );
  padding: 2%;
  color: var(--dust-white);
  border-radius: 20px;
  box-shadow: 4px 4px 4px var(--dark-gray);
}

.banner-offer a {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  margin: 10px;
  font-size: 20px;
  text-transform: uppercase;
  color: var(--dark-blue);
}


.banner-offer img {
  max-width: 25%;
  max-height: 25%;
  margin-left: 80px;
  border-radius: 12px;
}

.layout-products-images {
  max-width: 100%;
  position: relative;
  padding-top: 30px;
}

.layout-products-images ul {
  padding: 0;
}

.layout-products-images li {
  width: 300px;
  height: 300px;
  margin: 30px;
  border: 1px solid var(--medium-blue);
  border-radius: 20px;
}

.layout-products-images img {
  width: 80%;
  height: 80%;
  margin: 30px 0 0 30px;
  padding: auto;
}
/* INICIO DO SLIDE */
.slide-geral{
  margin-top: 10px;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
.wrapper{
  display: flex;
  align-items: center;
  height: 100%;
}

.slide-wrapper{
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  width: 100%;

}

.slide-list{
  display: flex;
}

.slide-item{
  cursor: grab;
  flex-shrink: 0;
  padding: 0 10px ;
  width: 90vw;
}

.slide-content{
  border-radius: 10px;
  border: 1px solid #fbfbfb;
  box-shadow: #000 0px 6px 12px;
  position: relative;

}

.slide-image{
  border-radius: 10px;
  width: 100%;
}

.slide-description{
  border-radius: 10px;
  background: linear-gradient(to top, #000, transparent);
  color: #fbfbfb;
  position: absolute;
  padding: 8px;
  bottom: 0;
  width: 98.5%;
}
.slide-description h3{
  font-family:'Oswald', sans-serif;
  font-size: 16px;
  }
  
.slide-description p {
  font-family: 'Oswald', sans-serif;
  font-size: 10px;
  }

.slide-nav-button{
  position: absolute;
  background: transparent;
  color: gray;
  cursor: pointer;
  font-size: 42px;
  z-index: 1;
}
.slide-nav-previous{
  left: 14px;
}

.slide-nav-next{
  right: 14px;
}

.slide-controls{
    margin: 15px auto 0;  
}

.slide-control-button{
  color: gray;
  cursor: pointer;
  background: transparent;
  font-size: 10px;
  margin: 0 3px;
}
.slide-control-button.active{
  color:#c837c2
}

.index-title{
 margin: 1% 4%;
 background: linear-gradient(
    120deg,
    var(--pink-degrade) 0%,
    var(--ligth-lilac) 52%,
    var(--dark-blue) 100%
  );
 padding: 2%;
 color: #fbfbfb;
 border-radius: 20px;
 box-shadow: 4px 4px 4px var(--dark-gray);
}
 

.products-wrapper{
  display:flex; 
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  height: auto;
  align-items: stretch;
}

.products-itens {
  width: 26%;
  border: #7f7ae9 solid 1px;
  border-radius: 20px;
  margin: 1%;
  align-items: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.products-itens-img{
  width: 26%;  
  border:#ef95cc solid 1px;
  border-radius: 20px;
  background-color: #ef95cc;
  margin: 1%;
  align-items: center;
  padding: 10px;
  display: flex;
  flex-direction: column;  
}

.products-itens-img1{
  width: 26%;  
  border:#ef95cc solid 1px;
  border-radius: 20px;
  background-color: #ef95cc;
  margin: 1%;
  align-items: center;
  padding: 10px;
  display: flex;
  flex-direction: column;  
}

.products-image{
  width: 65%;
  display: inline;
  text-align: center;
}

.products-description {
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
}

.products-old-price {
  text-decoration: line-through;
  font-size: 10px;
  text-align: center;
  margin: 5px;
}

.products-price {
  color: #c837c2;
  font-size: 16px;
  text-align: center;
  margin: 5px;
}

.detail-products-button {
  font-size: 12px;
  align-items: center;
  width: 80px;
  padding: 5px;
  margin: 20px;
  background-color: #7f7ae9;
  border-radius: 10px;
  color: #fbfbfb;
  display: inline-block;
  box-shadow: 2px 2px 2px var(--dark-gray);
  justify-items: center;
}

.link-button {
  color: #fbfbfb;
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width: 600px) {
}

@media (min-width: 900px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1800px) {
}
