main {
  width: 100%;
}

.ls-cart-header {
  background-color: #37c83d;
  border-radius: 10px;
}

.ls-cart-header small, strong{
  text-align: center;
}

.ls-cart {
  max-width: 120px;
}
.ls-checkbox-cart {
  visibility: hidden;
}

a {
  margin-left: 0;
  transition: 0.3s ease-out;
  font-size: 15px;
  border-radius: 12px;
}

a:hover {
  cursor: pointer;
}

.ls-title-product p {
}
p:nth-child(2) {
  background-color: #fbfbfb;
}
.ls-cart-footer, .ls-btn-primary{
    background-color: #a3e3a5;
}
