:root {
    --pink-degrade: #c837c2;
    --ligth-lilac: #7f7ae9;
    --ultra-ligth-blue: #cee3f0;
    --ligth-blue: #3786e1;
    --medium-blue: #2c3ac1;
    --medium-gray: #565656;
    --dark-blue: #070d40;
    --dark-gray: #252525;
    --ligth-gray:#f1f1f1;
    --dust-white: #fbfbfb;
    --warning: #b00d0d;
  }
  
  html, body, div, span, 
  h1, h2, h3, h4, h5, h6, p,var,
  ol, ul, li, form, label, button, footer, header,
  menu, nav, section {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  footer, header, menu, nav, section {
      display: block;
  }
  body {
      line-height: 1;
    background-color: var(--dust-white);
    font-family: 'Oswald', sans-serif;
    height: 100%;
  }
  ol, ul {
      list-style: none;
  }
  
  li {
    list-style: none;
  }
  
  ul {
    padding: 0;
    margin: 0;
  }
  
  button {
    background-color: transparent;
    }
  
  a {
    text-decoration: none;
    margin: 0;
  }
  /* main index */
  .index-main main {
    width: 100%;
    margin: auto;
  }
  
  .index-title{
   margin: 1% 4%;
   background: linear-gradient(
      120deg,
      var(--pink-degrade) 0%,
      var(--ligth-lilac) 52%,
      var(--dark-blue) 100%
    );
   padding: 2%;
   color: #fbfbfb;
   border-radius: 20px;
   box-shadow: 4px 4px 4px var(--dark-gray);
  }
   
  
  .admin-content{
    display:flex; 
    flex-direction: row;
    row-gap: 30px;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    height: auto;  
    align-items: stretch;
  }

  .admin-content h3{
    margin-top: 30px;
    color: var(--pink-degrade);
  }
  
  .admin-content article{
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 30px;
    color: var(--medium-gray);
  }

  .admin-content p  {
    margin: 15px  50px;
  }
  

  
    /* tablet, landscape iPad, lo-res laptops ands desktops */ 
   @media (min-width: 600px) {
    }
  
    @media (min-width: 900px){
    
    }
  
    @media (min-width: 1200px){
    
    }
  
  @media (min-width: 1800px){
    
  }
  
  