:root {
  --pink-degrade: #c837c2;
  --ligth-lilac: #7f7ae9;
  --ultra-ligth-blue: #cee3f0;
  --ligth-blue: #3786e1;
  --medium-blue: #2c3ac1;
  --medium-gray: #565656;
  --dark-blue: #070d40;
  --dark-gray: #252525;
  --ligth-gray:#f1f1f1;
  --dust-white: #fbfbfb;
}

  .acknowledgment-order{
    margin-left: 10px;
  }

  .acknowledgment img{
    width: 28px;
    height: 28px;
   
  }
  
  .acknowledgment-order p{
    color: var(--dark-blue);
    text-align: left;
    margin-left: 10px;
    font-weight: lighter;
  }
  .acknowledgment-order :nth-child(2){
    margin-left: 38px;
  }

  .acknowledgment-order :nth-child(3){
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;

  }

  .acknowledgment-order :nth-child(4){
    color: var(--pink-degrade);
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
  }

.order-summary{
  margin: 20px;
  font-weight: 200;
  color: var(--dark-blue);
  font-size: 12px;
}

  .order-summary h5{
    text-transform: capitalize;
    color: var(--dark-blue);
    font-weight: bold;
  }
  .order-product-summary{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    flex-wrap: wrap;
    margin: 10px;
  }

  .product-ordered-img img{
    width: 80px;
    height: 80px;
    border: .5px solid transparent;
    border-radius: 8px;
  }
  .product-ordered-description{
    width: 80px;
  }

  .order-summary-description{
    width: 80px;
    display: flex;
    flex-direction: column;
  }
  
  .order-summary-description p{
    margin: 0;
  }

  .order-confirmed p{
    margin: 0px;
  }
  .order-confirmed{
    margin: 30px 80px;
    color: var(--dark-blue);
    text-transform: capitalize;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    justify-content: center;
    align-items: center;
  }

  @media(min-width: 801px){
    .main{
      margin:0 100px;
    }
    .product-ordered-img img{
      width: 160px;
      height: 160px;
  }
}
  @media(min-width: 1025px){
    .main{
      margin:0 80px;
    }
    .order-summary{
      margin: 0 180px;
      font-size: 16px;
    }

    .order-confirmed{
      margin: 30px 190px;
      font-size: 16px;
    }
  }
  @media(min-width: 1245px){
    .main{
      margin:0 100px;
    }
    .product-ordered-img img{
      width: 260px;
      height: 260px;
  }
  .order-summary{
    margin: 0 180px;
    font-size: 20px;
  }

  .order-product-summary{
    column-gap: 60px;   
  }
  }