:root {
  --pink-degrade: #c837c2;
  --ligth-lilac: #7f7ae9;
  --ultra-ligth-blue: #cee3f0;
  --ligth-blue: #3786e1;
  --medium-blue: #2c3ac1;
  --medium-gray: #565656;
  --dark-blue: #070d40;
  --dark-gray: #252525;
  --ligth-gray:#f1f1f1;
  --dust-white: #fbfbfb;
}
  
.products-wrapper {
<<<<<<< HEAD
  margin-top: 30px;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.products-title {
  font-size: 2.4em;
  font-weight: 400;
  color: var(--gray);
}
.product-box {
  background-color: var(--dust-white);
  border-radius: 10px;
  transition: 300ms;
  padding: 20px;
  margin: 20px;
}

.product-box figure {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.product-box img {
  max-width: 70%;
  border-bottom: 1px solid var(--dark-gray);
  object-fit: contain;
=======
  background-color: var(--ligth-gray);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.product-box-image {
  border-bottom: 1px solid var(--dark-gray);
  border-radius: 16px;
  box-shadow: 10px 5px 5px var(--medium-gray) ;
>>>>>>> PaulaFlavia-master
}

.product-box-image img {
  border-radius: 16px;
}

.product-box-data  {
  width: 80%;
}

.product-box-data h3 {
  text-align: left;
  margin:30px 0 30px 50px;
  color: var(--dark-gray);
}

.product-box-data p {
  font-size: 16px;
  text-align: left;
  margin: 30px 0 30px 50px;
  color: var(--dark-gray);
  border-radius: 8px;
  box-shadow: 10px 5px 5px var(--medium-gray) ;

}

@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */ 
  .products-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

  .product-box {
    width: 350px;}
  }

@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
  .product-box {
    width: 500px;
  }
  }

  @media (min-width: 1281px) {
    /* hi-res laptops and desktops */
    .product-box {
      width: 500px;
    }
  }
  
