.detail {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-details {
  width: 90%;
  box-shadow: var(--medium-gray) 0px 1px 8px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

 .main-pic {
  width: 50%;
  box-shadow: var(--medium-gray) 0px 1px 8px;
  border-radius: 8px;
   margin: 16px 80px; 
} 

.small-pictures, .main-pictures {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.small-pics {
  width: 25%;
  box-shadow: var(--medium-gray) 0px 1px 8px;
  border-radius: 8px;
  margin: 10px;  
}

.btn_order_detail {
  font-size: 12px;
  width: 80px;
  padding: 5px;
  background-color: var(--ligth-lilac);
  border-radius: 10px;
  color: var(--dust-white);
  box-shadow: 2px 2px 2px var(--dark-gray);
  margin: 20px 120px;
}

.description-for-order {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 16px;
  padding-top: 16px;
  width: 90%;
  box-shadow: var(--medium-gray) 0px 1px 8px;
  border-radius: 8px;
}

.description-for-order h4 {
  margin-left: 16px;
  color: var(--dark-gray);
  text-transform: capitalize;
}

.description-for-order p {
  margin-left: 16px;
  color: var(--dark-gray);
  text-transform: capitalize;
}

.product-description {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: var(--medium-gray) 0px 1px 8px;
  border-radius: 8px;
  background-color: var(--dust-white);
  margin: 16px;
}

.product-description h4 {
  text-align: left;
  padding: 10px;
  color: var(--dark-gray);
  margin-left: 10px;
}

.product-description li {
  color: var(--dark-gray);
  font-size: 12px;
  font-weight: 200;
  padding: 10px 10px;
  margin-left: 10px;
}

@media (min-width: 600px) {
  

  .main-pic {
    width: 60%;
    margin-left: 110px;
  }

  .small-pics {
    width: 20%;
  }

  .description-for-order {
    margin: 20px 40px;
  }

  .product-description {
    margin: 20px 40px;
  }
}

@media (min-width: 800px) {
  

  .main-pic {
    width: 50%;
    margin-left: 80px;
  }

  .small-pics {
    width: 16%;
  }

}

@media (min-width: 1200px) {
}

@media (min-width: 1800px) {
}