.cart-carrinho{
  display: flex;
  flex-direction: row-reverse;
}
.ls-cart-header {
  width: 100vh;

  max-width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
 
  justify-content: center;
  box-shadow: var(--medium-gray) 0px 1px 8px;
  border-radius: 10px;
  margin: 60px 10px;  
  height: 60px;
  position: relative
  
}
.ls-cart-header small,
strong {
  font-size: 12px;
  column-gap: 2px;
  z-index: 1;
}
.ls-ico-cart {
  visibility: hidden;
}
.ls-checkbox-cart {
  visibility: hidden;
}
.products-wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  border-radius: 8px;
  margin-top: 30px;
  justify-content: center;
}

.products-title {
  font-size: 1.8em;
  font-weight: 400;
  color: var(--gray);
}

.product-box {
  font-size: 0.8rem;
  text-align: center;
  width: 300px;
  height: 300px;
  text-transform: uppercase;
  box-shadow: var(--medium-gray) 0px 1px 8px;
  background-color: var(--dust-white);
  border-radius: 10px;
  transition: 300ms;
  padding: 10px;
  margin: 5px;
  
}

.product-box img {
  max-width: 10rem;
  max-height: 10rem;
  border-radius: 10px;
}

.product-box a, h2, p{
  line-height: 20px;
  color: var(--dark-gray);
}

.product-box-data {
  width: 80%;
}

.product-box-data h2 {
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
  margin: 50px;
  color: var(--dark-gray);
}

.btn_order {
  font-size: 12px;
  width: 80px;
  padding: 5px;
  background-color: var(--ligth-lilac);
  border-radius: 10px;
  color: var(--dust-white);
  box-shadow: 2px 2px 2px var(--dark-gray);
  margin: 20px 120px;
}

@media (min-width: 600px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */ 
  .products-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

  .product-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 350px;
    align-items: center;
    justify-content: center;
  }
  }

@media (min-width: 900px) {
  /* big landscape tablets, laptops, and desktops */
  .product-box {
    width: 300px;
  }
  }

  @media (min-width: 1200px) {
    /* hi-res laptops and desktops */
    .product-box {
      width: 300px;
    }
  }
  