

.detail {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.product-details {
  width: 100%;
  padding: 100px;
 
  border: 0.5px solid var(--medium-blue);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 10px;
}

.main-pic {
  width: 80%;
  border: 0.5px solid var(--pink-degrade);
  border-radius: 8px;
  margin: 16px;

}
.main-pictures{
  display: flex;
  justify-content: center;
}
.small-pictures {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.small-pics {
  width: 30%;
  border: 0.5px solid var(--pink-degrade);
  border-radius: 8px;
  margin: 10px;
}

.description-for-order {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px;
  width: 100%;
  border: 0.5px solid var(--pink-degrade);
  border-radius: 8px;
}

.description-for-order h4 {
  margin-left: 16px;
  color: var(--medium-blue);
  text-transform: capitalize;
}

.description-for-order p {
  margin-left: 16px;
  color: var(--medium-blue);
  opacity: 0.8;
  text-transform: capitalize;
}

.description-for-order button {
  width: 100px;
  height: 28px;
  margin-left: 115px;
  margin-bottom: 16px;
  text-transform: capitalize;
  background-color: var(--ultra-ligth-blue);
  border: 1px solid var(--medium-blue);
  border-radius: 30px;
}

.product-description {
  width: 100%;
  border: 0.5px solid var(--medium-blue);
  border-radius: 8px;
  background-color: var(--ultra-ligth-blue);
  margin: 10px;
  padding: 10px;
}

.product-description h4 {
  text-align: left;
  color: var(--medium-blue);
  margin-left: 10px;
}

.product-description li {
  color: var(--medium-blue);
  opacity: 0.8;
  font-size: 12px;
  font-weight: 200;
  padding: 2px 0;
  margin-left: 10px;
}

@media (min-width: 600px) {
  .product-details {
    margin: 20px 40px;
  }

  .main-pic img {
    width: 40%;
    margin-left: 100px;
  }

  .small-pics img {
    width: 20%;
  }

  .description-for-order {
    margin: 20px 40px;
  }

  .description-for-order button {
    margin-left: 340px;
    margin-top: 20px;
  }

  .product-description {
    margin: 20px 40px;
  }
}

@media (min-width: 900px) {
  .detail {
    max-width: 80%;
    margin: 20px 100px;
  }

  .main-pic img {
    width: 50%;
    margin-left: 100px;
  }

  .small-pics img {
    width: 16%;
  }

  .description-for-order {
    padding: 2%;
  }

  .description-for-order button {
    margin-left: 400px;
  }
}

@media (min-width: 1200px) {
  .detail {
    max-width: 70%;
    margin: 30px 300px;
  }

  .main-pic {
    margin-right: 100px;
  }
  .main-pic img {
    width: 80%;
  }

  .small-pics img {
    width: 14%;
  }

  .description-for-order button {
    margin-left: 500px;
  }
}
