:root {
  --pink-degrade: #c837c2;
  --ligth-lilac: #7f7ae9;
  --ultra-ligth-blue: #cee3f0;
  --ligth-blue: #3786e1;
  --medium-blue: #2c3ac1;
  --medium-gray: #565656;
  --dark-blue: #070d40;
  --dark-gray: #252525;
  --ligth-gray: #f1f1f1;
  --dust-white: #fbfbfb;
}
*{
  box-sizing: border-box;
}
.products-wrapper {
  padding: 40px;
  align-items: stretch;
  border-radius: 8px;
  margin-top: 30px;
  justify-content: center;
}

.products-title {
  font-size: 1.8em;
  font-weight: 400;
  color: var(--gray);
}

.product-box {
  text-align: center;
  max-width: 220px;
  text-transform: uppercase;
  border: 1px solid var(--medium-blue);
  background-color: var(--dust-white);
  border-radius: 10px;
  transition: 300ms;
  padding: 40px;
  margin: 10px;
  
}



.product-box img {
  max-width: 10rem;
  max-height: 10rem;
  padding: 30px;
  border-radius: 10px;
  display: flex;
}

/* Sobra da imagem
.product-box-image {
  border-bottom: 1px solid var(--dark-gray);
  border-radius: 16px;
  box-shadow: 10px 5px 5px var(--medium-gray) ;


.product-box-image img {
  border-radius: 16px;
}  */

.product-box-data {
  width: 80%;
}

.product-box-data h2 {
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
  margin: 50px;
  color: var(--dark-gray);
}
/*
.product-box-data p {
  font-size: 1em;
  text-align: center;
  margin: 30px 0 30px 50px;
  color: var(--dark-gray);
  border-radius: 8px;
  box-shadow: 10px 5px 5px var(--medium-gray);

}*/
/*
.btn-product {

  text-align: center;
  padding: 10px;
  border: 1px solid var(--dark-blue);
  border-radius: 30px;
  background-color: var(--ligth-lilac);
  width: 80px;
}

.btn-product:hover {
    cursor: pointer;
    color: var(--ligth-lilac);
}
*/
@media (min-width: 801px) {

  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .products-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .product-box {
    width: 350px;
  }
}

@media (min-width: 1025px) {

  /* big landscape tablets, laptops, and desktops */
  .product-box {
    width: 500px;
  }
}

@media (min-width: 1281px) {

  /* hi-res laptops and desktops */
  .product-box {
    width: 500px;
  }
}