html, body, div, span, 
h1, h2, h3, h4, h5, h6, p,var,
ol, ul, li, form, label, footer, header,
menu, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
footer, header, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
li {
	list-style: none;
  }
  
  ul {
	padding: 0;
	margin: 0;
  }
  
  button {
	background-color: transparent;
	}
  
  a {
	text-decoration: none;
	margin: 0;
  }
