.slide-geral{ 
  margin-top: 10px;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.wrapper{
  display: flex;
  align-items: center;
  height: 100%;
}
  
.slide-wrapper{
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  width: 100%;  
}
  
.slide-list{
   display: flex;
}
  
.slide-item{
  cursor: grab;
  flex-shrink: 0;
  padding: 0 10px ;
  width: 90vw;
}
  
.slide-content{
  border-radius: 10px;
  border: 1px solid #fbfbfb;
  box-shadow: #000 0px 12px 12px;
  position: relative;  
}
  
.slide-image{
  border-radius: 10px;
  width: 100%;
}
  
.slide-description{
  border-radius: 10px;
  background: linear-gradient(to top, #000, transparent);
  color: #fbfbfb;
  position: absolute;
  padding: 8px;
  bottom: 0;
  width: 98.5%;
}

.slide-description h3{
  font-family:'Oswald', sans-serif;
  font-size: 16px;
  position: relative;
  top: 16px
}
    
.slide-description p {
  font-family: 'Oswald', sans-serif;
  font-size: 10px;
}
  
.slide-nav-button{
  position: absolute;
  background: transparent;
  color: gray;
  cursor: pointer;
  font-size: 42px;
  z-index: 1;
}

.slide-nav-previous{
  left: 14px;
}
  
.slide-nav-next{
  right: 14px;
}
  
.slide-controls{
  margin: 15px auto 0;  
}
  
.slide-control-button{
  color: gray;
  cursor: pointer;
  background: transparent;
  font-size: 10px;
  margin: 0 3px;
}

.slide-control-button.active{
  color:#c837c2
}

@media(min-width: 600px){
    .slide-description h3 {
    font-size: 9px;
    top: 0;
  }
    
  .slide-description p {
    display: none;
  }
    
  .slide-description {
    padding: 10px;  
  }

  .slide-controls{
      margin: 8px auto 0; 
  }
  
  .slide-nav-button{
    margin-top: -30px;
    font-size: 25px;   
  }
    
  .slide-control-button{
    font-size: 8px;   
  }
  
  .slide-nav-previous{
    left: 10px; 
  }
    
  .slide-nav-next{
    right: 10px;
  }
}
  