<<<<<<< HEAD
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

section {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.search-bar {
  width: 480px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 200px;
  border: 1px solid #37c83d;
  border-radius: 60px;
  padding: 10px 10px;
  background-color: #fbfbfb;
}

.search-bar input {
  background: transparent;
  border: 0;
  outline: none;
  color: #fbfbfb;
}

.search-bar button {
  border: none;
  background: transparent;
  width: 45%;
  transition: 0.6s;
  cursor: pointer;
}

.search-bar button :hover {
  border-radius: 50%;
  background-color: #c837c2;
}

::placeholder {
  color: #cac7ff;
  transition: 0.5s;
}

section img {
  width: 20%;
  height: 30%;
}

div nav {
  width: 100%;
  background: linear-gradient(
    180deg,
    #c837c2 0%,
    #7c837d 52.08%,
    #37c83d 100%
  );
}

div nav ul {
  width: 100%;
  margin: auto 20px;
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

div nav ul li img {
  width: 35px;
  cursor: pointer;
}

li a {
  text-decoration: none;
}

div nav ul li {
  padding: 10px 0 0 50px;
}

div ul li a {
  color: rgba(200, 55, 194, 1);
}

.main-menu li a {
  color: #fbfbfb;
}

div .container-banner {
  width: 100%;
  height: 240px;
  display: inline-block;
}

div .promo-banner {
  width: 10%px;
  height: 240px;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background: url('/public/img/milky-way-2695569_960_720.jpg')
    no-repeat;
  background-size: cover;
}

p {
  font-size: 50px;
  line-height: 1;
}
.secondp {
  background-color: #c837c2;
  border-radius: 4px;
}
=======
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
html,
body {
  font-family: "Poppins", sans-serif;
  /* overflow: hidden; */
}
li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  background-color: fbfbfb;
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 5px 0px #7c837d;
}
.container {
  background: linear-gradient(180deg, #c837c2 0%, #7c837d 52.08%, #37c83d 100%);
}

.logo {
  max-width: 35%;
  max-height: 35%;
  padding-top: 10px;
  padding-left: 10px;
}
.nav {
  width: 100%;
  height: 100%;
  position: fixed;
  background: linear-gradient(180deg, #c837c2 0%, #7c837d 52.08%, #37c83d 100%);
  ;
  overflow: hidden;
  max-height: 0;
  transition: max-heigth 0.5s ease-out;
}
.menu {
  padding: 0;
}

.menu img {
  max-width: 20px;
  max-height: 20px;
}
.menu a {
  display: block;
  padding: 32px;
  color: #fbfbfb;
  text-transform: uppercase;
}

.menu a:hover {
  background-color: #7c837d;
}

.hamburguer {
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

#checkbox-menu {
  position: absolute;
  opacity: 0;
}

label {
  cursor: pointer;
  position: absolute;
  top: 20px;
  width: 30px;
  height: 22px;
}
label span {
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 30px;
  background: greenyellow;
  transition: 0.25s ease-in-out;
}
label span:nth-child(1) {
  top: 0;
}

label span:nth-child(2) {
  top: 8px;
}

label span:nth-child(3) {
  top: 16px;
}

#checkbox-menu:checked + label span:nth-child(1) {
  transform: rotate(-45deg);
  top: 8px;
}

#checkbox-menu:checked + label span:nth-child(2) {
  opacity: 0;
}

#checkbox-menu:checked + label span:nth-child(3) {
  transform: rotate(45deg);
  top: 8px;
}

#checkbox-menu:checked ~ nav {
  max-height: 100%;
}

.search-form {
  max-width: 300px;
  border: 1px solid #37c83d;
  border-radius: 60px;
  margin: auto;
  background-color: #fbfbfb;
}

input {
  min-width: 200px;
  display: inline-block;
  position: relative;
  border: 0;
  outline: none;
  background: transparent;
}

input::placeholder {
  color: purple;
  opacity: 0.2;
}

button {
  display: none;
}

div .container-banner {
  display: inline-block;
  max-width: 100%;
  max-height: 15%;
}

div .promo-banner {
  max-width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background: url("/public/img/milky-way-2695569_960_720.jpg") no-repeat;
  background-size: cover;
}

.promo-banner img {
  max-width: 150px;
  border-radius: 10px;
  margin-left: 20px;
}

p {
  font-size: 12px;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: 0;
}

p:nth-child(2) {
  background-color: #c837c2;
  border-radius: 4px;
}

>>>>>>> e074709 (limpeza de pastas de views)
.info-banner {
  display: inline-block;
  color: #fbfbfb;
  text-align: justify;
  font-weight: bold;
}

<<<<<<< HEAD
.promo-banner img {
  border-radius: 10px;
  width: 400px;
}

.banner-navbar {
  width: 100%;
  height: 50px;
  padding-top: 20px;
  padding-bottom: 0;
=======
.banner-navbar {
  max-width: 100%;
  padding: 0;
  margin: 0;
>>>>>>> e074709 (limpeza de pastas de views)
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
<<<<<<< HEAD
  list-style: none;
  background-color: rgba(217, 217, 217, 1);
}

.banner-navbar-links {
  padding-top: 0;
  gap: 60px;
}

.banner-navbar-icons {
  gap: 90px;
  cursor: pointer;
=======
  background-color: fbfbfb;
}
.banner-navbar-links {
  gap: 10px;
}
.banner-navbar-icons {
  margin-top: 10px;
  gap: 40px;
>>>>>>> e074709 (limpeza de pastas de views)
}

hr {
  width: 100%;
<<<<<<< HEAD
  height: 4px;
  background-color: #37c83d;
}
.divCorte {
  clip-path: polygon(0 70px, 70px 0, 100% 0, 100% 100%, 0 100%);
=======
  height: 2px;
  background-color: #37c83d;
}

@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}

@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
>>>>>>> e074709 (limpeza de pastas de views)
}
