:root {
  --pink-degrade: #c837c2;
  --ligth-lilac: #7f7ae9;
  --ultra-ligth-blue: #cee3f0;
  --ligth-blue: #3786e1;
  --medium-blue: #2c3ac1;
  --dark-blue: #070d40;
  --dark-gray: #252525;
  --dust-white: #fbfbfb;
}

.register-account {
  width: 100vw;
  height: 100vh;
  border-radius: 8px;
  margin-top: 100px;
}  

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--pink-degrade);
  margin: 20px;
}
.email,
.password,
.password-confirmation {
  width: 80%;
  padding: 10px 8px;
  border: 1px solid var(--medium-blue);
  border-radius: 8px;
  margin: 10px 0px;;

}

.email {
  width: 100%;
  margin: 10px 0px 10px 0px;
  padding: 10px 5px;
  border: 1px solid var(--medium-blue);
  border-radius: 8px;
}

.password {
  width: 100%;
  margin: 10px 0px 10px 0px;
  padding: 10px 5px;
  border: 1px solid var(--medium-blue);
  border-radius: 8px;
}
.password-confirmation {
  width: 100%;
  margin: 10px 0px 10px 0px;
  padding: 10px 5px;
  border: 1px solid var(--medium-blue);
  border-radius: 8px;
}

.btn-registration {
  width: 83%;
  padding: 14px 5px;
  background-color: var(--ultra-ligth-blue);
  border: 1px solid var(--medium-blue);
  border-radius: 8px;
  margin: 10px 0px;
  color: var(--ligth-lilac);
}
.btn-registration:hover{
  cursor: pointer;
  background-color: var(--ligth-blue);
  }

::placeholder {
  color: var(--ligth-lilac);
  opacity: 0.3;
}

@media (min-width: 801px){
  .input-container{
    max-width: 600px;
    margin: 100px;
  }
  
  .register-account{
    max-height: 500px;
    margin-top: 80px;
  }

.email, .password,
.password-confirmation {
  margin-top: 20px;
  margin-bottom: 20px; 
}
.btn-registration{
  margin-top: 30px;
}
}
@media (min-width: 1025px){

.input-container{
  margin-left: 270px;
}

.email, .password,
.password-confirmation {
  max-width: 600px;
}

.btn-registration {
  max-width: 500px;
}
}

@media (min-width: 1245px){

  .input-container{
    margin-left: 370px;
  }

  .register-account{
    margin-top: 200px;
  }
}

