

.index_title{
  margin: 1% 4%;
  background: linear-gradient( 120deg, var(--pink-degrade) 0%, var(--ligth-lilac) 52%, var(--dark-blue) 100% );
  padding: 2%;
  color: var(--dust-white);
  border-radius: 20px;
  box-shadow: 4px 4px 4px var(--dark-gray);
}

.user-container {
  width: 100%;
}

.account-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  column-gap: 20px;
}

.user-menu {  
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.btn-user-purchase-order {
  font-size: 12px;
    align-items: center;
    width: 80px;
    padding: 5px;
    background-color: var(--ligth-lilac);
    border-radius: 10px;
    color: var(--dust-white);
    display: inline-block;
    box-shadow: 2px 2px 2px var(--dark-gray);
    justify-items: center;
}

.btn-user-data {
  font-size: 12px;
    align-items: center;
    width: 80px;
    padding: 5px;
    background-color: var(--ligth-lilac);  
    border-radius: 10px;
    color: var(--dust-white); 
    display: inline-block;
    box-shadow: 2px 2px 2px var(--dark-gray);
    justify-items: center;
}

.order-container {
  margin: 5px;
  color: var(--medium-gray);
}

.order-list {
  margin: 5px;
  padding: 10px;
  border: 1px solid var(--medium-gray);
  border-radius: 10px;
}

.order-list p {
  color: var(--medium-gray);
  font-size: 12px;
  background: none;
  line-height: 1;
}

.ordered-products-container {
  margin: 5px;
  padding: 10px;
  border: 1px solid var(--medium-gray);
  border-radius: 10px;
}
.ordered-products-container h2 {
  color: var(--medium-gray);
}

.ordered-product img {
  width: 25%;
}

.order-info {
  font-size: 12px;
}
.order-container h3,
.ordered-products-container h3 {
  color: var(--pink-degrade);
  margin-block: 0;
  margin-left: 20px;
}


.total-of-products p {
  font-size: 12px;
  background: none;
  color: var(--medium-gray);
  line-height: 1;
  text-align: left;
}

.user-info-container{
  margin: 10px;
  padding-left: 16px;
  border: 1px solid var(--medium-gray);
  border-radius: 10px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
 
}

.user-info-container h3 {
  color: var(--pink-degrade);
  margin-block: 0;
  margin-left: 20px;
  
}

.user-avatar {
  border: 0.5px solid var(--medium-gray);
    border-radius: 50%;
    margin: 8px;
    width: 80px;
    height: 80px;
    cursor: pointer;
}
.greeting{
  margin: 5px;
  color: var(--pink-degrade);
}  

  .img-avatar  {
    border: 0.5px solid var(--medium-gray);
    border-radius: 50%;
    margin: 10px;
    width: 80px;
    height: 80px;
    cursor: pointer;

  }
  .user-info li{
    color: var(--medium-gray);
    line-height: normal;
  }

.btn-update-avatar {
  font-size: 12px;
  align-items: center;
  width: 80px;
  padding: 5px;
  background-color: #7f7ae9;
  border-radius: 10px;
  color: #fbfbfb;
  display: inline-block;
  box-shadow: 2px 2px 2px var(--dark-gray);
  justify-items: center;
  margin: 10px;
}

.wrapper-form-buttons{
  display: flex;
  flex-direction: row;
  column-gap: 58%;
  padding:10px
}
.btn-update {
  font-size: 12px;
  align-items: center;
  width: 80px;
  padding: 5px;
  background-color: var(--ligth-lilac);
  border-radius: 10px;
  color: var(--dust-white);
  display: inline-block;
  box-shadow: 2px 2px 2px var(--dark-gray);
  justify-items: center;
  margin-left: 5px;
}

.btn-delete {
  font-size: 12px;
  align-items: center;
  width: 80px;
  padding: 5px;
  background-color: var(--warning);
  border-radius: 10px;
  color: var(--dust-white);
  display: inline-block;
  box-shadow: 2px 2px 2px var(--dark-gray);
  justify-items: center;
  margin-left: 15px;
}


@media (min-width: 600px) {
  
  .order-container {
    font-size: 16px;
  }
  .ordered-product img {
    width: 20%;
  }
    .btn-delete{
      margin-left: 120px;
    }

  .avatar-img {
    width: 120px;
    height: 120px;
  }

  .input-label {
    width: 97%;
  }
  .btn-update-avatar{
    margin-left: 20px;
  }
  .btn-update {
    margin-left: 20px;
  }
}

@media (min-width: 900px) {

  .ordered-product img {
    width: 18%;
  }

  .btn-delete {
    margin-left: 220px;
}

}

@media (min-width: 1200px) {
 
  .order-container {
    font-size: 20px;
  }

  .ordered-product img {
    width: 16%;
  }
  .btn-delete {
    margin-left: 320px;
}
}
