:root {
  --pink-degrade: #c837c2;
  --ligth-lilac: #7f7ae9;
  --ultra-ligth-blue: #cee3f0;
  --ligth-blue: #3786e1;
  --medium-blue: #2c3ac1;
  --medium-gray: #565656;
  --dark-blue: #070d40;
  --dark-gray: #252525;
  --ligth-gray:#f1f1f1;
  --dust-white: #fbfbfb;
}

.login {
  width: 16rem;
  height: 100%;
  padding: 20px;
  margin: 24px;
  border: 1px solid var(--medium-blue);
  border-radius: 8px;
}


.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--pink-degrade);
}


.name,
.email,
.password
 {
  width: 100%;
  padding: 16px 0;
  border: 1px solid var(--medium-blue);
  border-radius: 8px;
  margin-bottom: 10px;

<<<<<<< HEAD
@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .container {
    background: linear-gradient(
      135deg,
      #fbfbfb 50%,
      #c837c2 75%,
      #7c837d 85%,
      #2c3ac1 100%
    );
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    max-width: 40%;
    max-height: 40%;
    margin-bottom: 5px;
    margin-left: 20px;
  }

  .menu-hamburguer {
    justify-content: space-between;
  }

  .hamburguer {
    display: none;
  }

  .nav {
    max-height: none;
    top: 15px;
    position: relative;
    float: right;
    width: fit-content;
    overflow: auto;
    background: transparent;
    margin-right: 10px;
  }

  .menu a {
    padding: 0;
    color: #fbfbfb;
    font-size: 12px;
  }

  .menu li {
    font-size: 10px;
    float: left;
  }

  .search-form {
    min-width: 300px;
    min-height: 25px;
    font-size: 12px;
    margin: auto;
  }

  button {
    display: inline;
    border: none;
    background: transparent;
  }

  input::placeholder {
    font-size: 15px;
  }

  .search {
    max-width: 20px;
    max-height: 20px;
  }

  .promo-banner img {
    max-width: 150px;
    border-radius: 10px;
    margin: auto;
    margin-right: 20px;
  }

  div .promo-banner {
    display: block;
    padding-left: 210px;
  }

  .banner-offer {
    padding-left: 80px;
    margin-left: 10px;
    margin-right: 12px;
  }

  .banner-offer a {
    padding-left: 15px;
  }

  .layout-products-images {
    margin-left: 40px;
  }

  footer a {
    font-size: 10px;
  }

  .images {
    padding-top: 12px;
    padding-left: 80px;
  }

  .logo-footer {
    max-width: 125px;
  }

  .social-media-icons img {
    max-width: 25px;
  }
}

@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
  .logo {
    max-width: 50%;
    max-height: 50%;
    margin-left: 30px;
  }

  .container {
    background: linear-gradient(
      135deg,
      #fbfbfb 65%,
      #c837c2 75%,
      #7c837d 85%,
      #2c3ac1 100%
    );
  }

  .search-form {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 400px;
    font-size: 12px;
  }

  .banner-offer {
    padding-left: 90px;
  }

  .banner-offer a {
    padding-left: 100px;
  }

  .layout-products-images {
    margin-left: 70px;
  }
}

@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
  .search-form {
    min-width: 650px;
    min-height: 30px;
  }

  main {
    max-width: 1200px;
    margin: auto;
  }

  .banner-offer a {
    padding-left: 150px;
  }

  footer {
    justify-content: center;
    column-gap: 230px;
  }
}
=======
.password {
  width: 100%;
  margin: 10px 0px 10px 0px;
  padding: 10px 5px;
  border: 1px solid var(--medium-blue);
  border-radius: 8px;
}

.btn-login {
  width: 100%;
  margin: 20px 0px;
  padding: 16px 0Px;
  background-color: var(--ultra-light-lilac);
  border: 1px solid var(--dark-blue);
  border-radius: 8px;
  color: var(--pink-degrade);
}

.btn-login:hover {
cursor: pointer;
background-color: var(--ligth-blue);
}

::placeholder {
  color: var(--ligth-lilac);
  opacity: 0.3;
}

.danger{
  font-size: 0.5rem;
  color: var(--dark-blue);
}

.remember-password{
  margin-left: 60px; 
  color: var(--medium-blue);
  opacity: 0.5;
}

.remember-password:hover{
  cursor: pointer;
  text-decoration: underline;
  opacity: 1;
}

.sign-up{
  color: var(--medium-blue);
  margin-left: 60px;
  font-size: 8px;
  opacity: .3;
}

.sign-up:hover{
  text-decoration: underline;
  cursor: pointer;
  opacity: 1;
}

@media(min-width: 801px){
.login{
  margin-top: 20px;
  margin-left: 250px;
}
}

@media(min-width: 1025px){
  .login{
    margin-left: 360px;
  }
}

@media(min-width: 1245px){
  .login{
    margin-left: 480px;
  }
}
>>>>>>> 24dfbe5c6016e8c5c3d5fa5f3f213c1361356d38
